.ug-gallery-wrapper .ug-slider-wrapper {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ug-gallery-wrapper .ug-strip-panel {
    background-color: rgb(245, 245, 245);
    position: absolute;
    z-index: 2;
}

#wrapwrap .css_attribute_color
{
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrapwrap .css_attribute_color:not(.active)
{
	border: 3px solid transparent;
}

#wrapwrap .css_attribute_color input
{
	margin: 47px;
}

#wrapwrap .css_attribute_color .label
{
	position: absolute;
	left: 2px;
	bottom: 2px;
}