<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width:90%">
            <h1 class="oe_slogan">Flexi Retail</h1>
            <h2 class="oe_slogan">Complete Solution for Retail Industry</h2>
            <h3>
                Features
            </h3>
            <ul>
                <li>Loyalty Point</li>
                <li>Cross-Selling</li>
                <li>Gift Card</li>
                <li>Product Return</li>
                <li>Cash In/Out</li>
                <li>Gift Voucher</li>
                <li>Customer Wallet</li>
                <li>E-Receipt</li>
                <li>Order History</li>
                <li>Product Load Background</li>
                <li>Warehouse Product Quantity</li>
                <li>Internal Stock Transfer</li>
                <li>Quick Cash Payment</li>
                <li>Product Operations</li>
                <li>Deliery/Bag Charges</li>
                <li>Keyboard Shortcut</li>
                <li>Bank/Card Charges</li>
                <li>Print Valid Days in Receipt</li>
                <li>X-Report</li>
                <li>Z-Report</li>
                <li>Graph Report</li>
                <li>Session Report</li>
            </ul>
            <h3>
                Installation
            </h3>
            <ul>
                <li>Download fonts : http://www.reportlab.com/ftp/fonts/pfbfer.zip</li>
                <li>now put this fonts into location : /usr/lib/python2.7/dist-packages/reportlab/fonts/(put the files)
                    note : if fonts folder does not exists, create that folder and copy that fonts into it</li>
                <li>To see the preview of label install following packages</li>
                <li>sudo apt-get install python-wand</li>
                <li>sudo apt-get install libmagickwand-dev</li>
                <li>sudo apt-get install imagemagick</li>
            </ul>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Login Screen</li>
                </ul>
                <img style="max-width: 100%;font-weight:bold;" src="1_pos_login_screen.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Home Screen</li>
                </ul>
                <img style="max-width: 100%;" src="2_main_screen.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Customer Screen</li>
                </ul>
                <img style="max-width: 100%;" src="3_customer_screen.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Cross Selling</li>
                </ul>
                <img style="max-width: 100%;" src="4_cross_selling.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Internal Stock Transfer</li>
                </ul>
                <img style="max-width: 100%;" src="5_internal_stock_transfer.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Payment Charges</li>
                </ul>
                <img style="max-width: 100%;" src="6_payment_charges.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Product Operations</li>
                </ul>
                <img style="max-width: 100%;" src="7_product_operation.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Order History</li>
                </ul>
                <img style="max-width: 100%;" src="8_order_history.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Gift Card</li>
                </ul>
                <img style="max-width: 100%;" src="9_create_gift_card.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Gift Card Receipt</li>
                </ul>
                <img style="max-width: 100%;" src="10_gift_card_receipt.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Bag Charges</li>
                </ul>
                <img style="max-width: 100%;" src="11_bag_charges.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">POS Return</li>
                </ul>
                <img style="max-width: 100%;" src="12_1_pos_return_type.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">POS Return with Products</li>
                </ul>
                <img style="max-width: 100%;" src="12_product_return.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Delivery Details</li>
                </ul>
                <img style="max-width: 100%;" src="13_delivery_detail.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Delivery Charges</li>
                </ul>
                <img style="max-width: 100%;" src="14_delivery_charges.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Warehouse Product Quantity</li>
                </ul>
                <img style="max-width: 100%;" src="15_product_quantity.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Quick Cash Payment</li>
                </ul>
                <img style="max-width: 100%;" src="16_quick_cash_payment.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Print Valid Days</li>
                </ul>
                <img style="max-width: 100%;" src="17_print_valid_days.png"/><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Graph Report</li>
                </ul>
                <img style="max-width: 100%;" src="18_graph_report.png"/><br/><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">X-Report</li>
                </ul>
                <img style="max-width: 100%;" src="19_x_report.png"/><br/><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
           </span>
       </div>
   </div>
</section>
