@media (max-width:800px){
	.main-div-W100 .main-div-maxW .product{
		width:100%;
	}
}
@media (max-width:600px){
	.main-div-W100 .main-div-maxW .product .wishlist-product-name-div .wishlist-product-name {    
	}
	.main-div-W100 .main-div-maxW .productFrom{
	}
	.wishlist_price .oe_currency_value{
	}
	.clear-all-div .chs_heading {    
	}
	.wishlist_rating_main_div .fa-star-o {    
	}
	.product_avail {
		
		& #available{
		}
	}
	.wishlist-product-cart-div a{
	}
	.div_class_recent_view_product{
		width:88%;
	}
	.wishlist-product-name{
		max-width:190px !important;
	}
	.product_avail{
	}
	.product{
	}
	.wishlist_price p{
		margin:0;
	}
}


/* ----------------------------------------Bizople code--------------------------------------------- */
.cls_uk_size , .cls_eu_size ,.cls_us_size {
	font-size : 18px;	
}
.size_inner.pagination {
	 a {
		width : 50px;
		text-align: center;
	}
}
.shoe_product_wrapper {
	.product_categs {
		padding-top : 0px;
		margin-top : -26px;
	}
}
.category_banner_image{
	.categ_image {
		height : 590px;
	}
}
.bottom-left.categ {
	position : relative;
    border-radius: 0px;
    background-color : red !important;
	color : #fff !important;
	bottom : 25px;
	
    
    span {
    	font-family: 'Great Vibes', cursive;
    	font-size : 23px;
    	font-weight : bold;
    }
}
.c_product_details .price {
	right : 3%;
}
.scrolldown.mobile  {
	#section10 {
	    width: 100%;
	    margin: 0 auto;
	    position: relative;
	    bottom: 46px;
	    left : 48%;
	}
}
.scrolldown  {
	.mobile {
	    width: 100%;
	    margin: 0 auto;
	    position: relative;
	    bottom: 20px;
	    margin-top: -73px;
	}
}
#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
#section10 a span::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: '';
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#add_to_cart {
	margin-top : 90px;
}

#carousel-custom .carousel-indicators {
	.mySlides img {

	}
	.col-lg-2 {
		padding-left : 5px;
		padding-right : 5px;
	}
}
.category_banner_image {


     margin-bottom: 30%;
}

.category_mobile_banner_image img {
    margin-top: -130px;;
    width: 100% !important;
    object-fit: cover;
    bottom: 0;
}
@media (min-width: 320px) {
	.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	    height: 100vh ;
	}
	.category_mobile_banner_image img {
	    height : 495px ;
	}
}

@media (min-width: 375px) {
	
	.category_mobile_banner_image img{
	    height : 530px ;
	}
}


@media (min-width: 414px) and (max-height: 736px) {
	.bs-slider.slide {
	    height: 100vh ;
	}
	.category_mobile_banner_image img {
	    height : 661px;
	}
	
}
@media (min-width: 375px) and (max-height: 812px) {
	@media  (max-height: 667px) {
		.category_mobile_banner_image img {
		    height : 595px;
		}
		.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
		    height: 100vh ;
		}
	}
	@media  (min-height: 800px) {
		.category_mobile_banner_image img {
		    height : 740px;
		}
		.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
		    height: 100vh ;
		}
	}
	
}

@media (min-width: 411px)  {
	@media  (max-height: 731px) {
		.category_mobile_banner_image img {
		    height : 657px;
		}
		.bs-slider.slide {
		    height: 100vh ;
		}
	}
	@media  (min-height: 750px) {
		.category_mobile_banner_image img {
		    height : 747px;
		}
		.bs-slider.slide {
		    height: 100vh ;
		}
	}
}
@media (min-width: 360px) and (max-height: 640px) {
	
	.category_mobile_banner_image img {
	    height : 564px;
	}
	.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	    height: 99.5vh ;
	}
	
}


@media screen and (min-width: 411px) and (max-width:731px) {
	.next.mobileShow {
		right : 28px !important;
	}
}

@media screen and (min-width: 411px) and (max-width:823px) {
	
	.xzoom {
	    margin-left: 9px !important;
	}
}


@media screen and (min-width: 320px) and (max-width:568px) {
	.product_categs {
		padding-top : 0px;
		margin-top: -10px;
	}
}

@media screen and (min-width: 320px) and (max-width:767px) {
	.custom_mobile_categ_img {
		padding-bottom : 0px !important;
	}
	.bottom-left.categ {
		bottom : 0px;
	}
	.scrolldown.mobile  {
		#section10 {
		    left : 152px;
		}
	}
	.category_mobile_banner_image img {
	    margin-top: -130px;;
	    width: 100% !important;
	    object-fit: cover;
	    bottom: 0;
	}
	
	#product_detail {
		.dot {
			border-radius : 0px;
		}
	}

	header .header_top .header_top_right a {
		font-size : 21px;
	}
	.menu_inner_area .navbar.navbar-default .navbar-header {
		width : 12%;
	}
	
	.menu_inner_area .navbar.navbar-default {

	}

	.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {
		font-size : 28px !important;
		line-height : 75px;
	}
	.next.mobileShow {
		right : 10px;
	}
	.mobileShow {

	}
	.prev.mobileShow:hover, .next.mobileShow:hover {
		background-color : transparent;
		text-decoration: none;
	}
	.header_offer .text-fade .carousel-inner .item a {
		font-size : 20px;
	}
	.product-info-table .info-row {
		display: flex;
	    flex-direction: row;
	    justify-content: unset;
	}
	.product-info-table .info-row-item {
		float: left;
    	margin-right: 10px;
	}
	.product-info-table .info-row-label {
		text-align : left;
		text-transform: capitalize;
	}
	.bottom-left {
		background-color: #000000;
	}
	.size_txtbox input {
		text-align : center;
	}
	.xzoom {
	    width: 365px;
	    height: 248px;
	    margin-top: 95px;
	    margin-left: 0px;
	}
	ul.category_wrapper li , ul.size_wrapper li ,.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {
		font-style : normal;
	}
	ul.list-unstyled.js_add_cart_variants.nav-stacked li{
		margin-top : -20px;
	}
	#add_to_cart {
	    margin-top: 29px !important;
	}
	header .header_top .header_top_right {
		background: #cd0000;
	}
	.header_top_right {
		height : 47px;
	}
	.header_top_right .login_icon {
		margin-bottom : 10px;
	}
	.size_filter_inner {
		margin-bottom : 37px;
	}
	.c_product_img.custom {
		padding : 8px 0px;
	}
	
	.menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand {
		line-height: 10px !important;
	    min-height: 65px !important;
	    padding: 0px 0px !important;
	}
	.my_cart_quantity.label.label-danger {
		background-color: #003366;
	}
	.shoe_product_wrapper {
		.gender_icon span {
			font-size : 12px;
		}
		.category_container {
			.container {
				padding-left : 4px;
				padding-right : 4px;
			}
		}
		.c_product_details .c_product_title a {
			font-size : 12px;
			width : 50% !important;
		}
		.c_product_inner ul.gender_icon {
			text-align : left;
			bottom: -7px;
			width: 65%;
		    margin-left: 5px;
		}
		.categ_image {
		    height: 170px !important;
		}
		.c_product_details .c_product_title a {
			top : 1%;
			left : 6%;
		}
		.c_product_details .price {
			top : 1%;
			right : 3%;
			font-size : 12px;
			
			span {
				font-size : 12px;
			}
		}
		.c_product_inner ul.cart_icon {
			bottom : -8px;
			right : 4px;
		}
		.c_product_inner ul.cart_icon li {
			padding: 0 2px;
		}
		.product_categs {
			padding-top : 0px;
		}
	}
	#mobile_snippet_height {
		height : 160px !important;
	}
}
