<div class="oe_styling_v8">
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <h1 class="text-danger"><strong>Get Image Gallery Customized Stylishly</strong></h1>
            <h4 class="text-muted lead">With the help of our app &#39;Custom Product Image Gallery&#39; you can add multiple product images and videos for description of single product. Admin can add various types of videos in the grid to display products more effectively. Admin can set the panel position as per the requirement, for e.g. in left, right or bottom of the image gallery. Admin can set thumbnail size and also the slide show timing between two images to display the products attractively.</h4>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="panel panel-primary" style="padding:10px 20px;">
                <h1 class="text-danger"><strong> Basic Features:</strong></h1>
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-check text-danger"></i> Numerous images &amp; videos to exhibit your product efficiently.</li>
                    <li><i class="fa fa-check text-danger"></i> Support for various types of videos.</li>
                    <li><i class="fa fa-check text-danger"></i> Slideshow of assigned images in the panel.</li>
                    <li><i class="fa fa-check text-danger"></i> Multiple supported positions for displaying the thumbnail grid.</li>
                    <li><i class="fa fa-check text-danger"></i> Alteration of thumbnail size as per requisites.</li>
                    <li><i class="fa fa-check text-danger"></i> Zoom in - Zoom out and Full screen feature for product images.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-danger"><strong>Multiple Type of Supported Videos</strong></h1>
            <p class="text-muted" style="padding-bottom:10px;">The Custom Product Image Gallery app allows admin to add multiple types of videos to the product grid.</p>
            <p class="text-primary">The included types of videos are:</p>
            <ul class="list-unstyled lead">
                <li><i class="fa fa-check text-danger"></i> You Tube Video</li>
                <li><i class="fa fa-check text-danger"></i> Vimeo Video</li>
                <li><i class="fa fa-check text-danger"></i> HTML 5 Video</li>
            </ul>
            <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="new_video.jpg">
        </div>
    </div>
    
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="panel panel-primary" style="padding:10px 20px;">
                <h1 class="text-danger"><strong> Customizable Front End</strong></h1>
                <p>Admin can modify the site image gallery according to the requirements. Admin can define thumbnail panel position, slideshow interval &amp; thumbnail size.</p>
                <p class="text-primary"><strong>Admin can make changes to thumbnail overlay effects which includes effects like:</strong></p>
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-check text-danger"></i> Default</li>
                    <li><i class="fa fa-check text-danger"></i> Black &amp; White</li>
                    <li><i class="fa fa-check text-danger"></i> Sepia</li>
                    <li><i class="fa fa-check text-danger"></i> Blur</li>
                </ul>
                <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="settings.jpg">
            </div>
        </div>
    </div>
</section>



<section class="oe_container lead text-center">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-danger"><strong>Slideshow for multiple product images</strong></h1>
            <p class="text-muted" style="padding-bottom:10px;">Your customer can view the slideshow of the product and doesn’t have to navigate through product with clicking for next product every now and then.</p>
            <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="img5.png">
        </div>
    </div>
    
</section>


<section class="oe_container oe_dark text-center lead">
    <div class="oe_row oe_spaced">
        <h1 class="text-danger"><strong> Zoom in - Zoom out feature for easy accessibility</strong></h1>
        <p>The Custom Product Image Gallery comes with feature of zoom in &amp; zoom out for comprehensive analysis of the product.</p>
        <p>&nbsp;</p>
        <div class="oe_span6">
            <div class="panel panel-primary" style="padding:10px 20px;">
                <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture " src="img1.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="panel panel-primary" style="padding:10px 20px;">
                <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture " src="img2.png">
            </div>
        </div>
        <p>&nbsp;</p>
        <p class="text-primary">Customer can also view product in full screen for detailed view of products.</p>
        <div class="oe_span12">
            <div class="panel panel-primary" style="padding:10px 20px;">
                <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture " src="img4.png">
            </div>
        </div>

    </div>
</section>


<section class="oe_container lead text-center">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-danger"><strong>Changeable Thumbnail Panel Size</strong></h1>
            <p class="text-muted" style="padding-bottom:10px;">You can change size  of the panel containing product images for front end as you want</p>
            <img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="img7.png">
        </div>
    </div>    
</section>

<section class="oe_container lead text-center oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h1 class="text-danger"><strong>Changeable Thumbnail Panel Position</strong></h1>
            <p class="text-muted" style="padding-bottom:10px;">Admin can set the Thumbnail panel position in multiple directions ranging from:</p>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-md-8"><img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="img1.png"></div>
            <div class="col-md-4">
                <label style="display: inline-block; padding: 15px 50px; background: rgb(192, 174, 160) none repeat scroll 0% 0%; border-radius: 35px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); color: rgb(122, 104, 90); border: 2px solid rgba(0, 0, 0, 0.05);  margin-top:45px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Left</label>
            </div>
        </div>
    
    </div>

    <div class="container" style="margin:50px auto;">
       
        <div class="row">
            <div class="col-md-4">
                <label style="display: inline-block; padding: 15px 50px; background: rgb(192, 174, 160) none repeat scroll 0% 0%; border-radius: 35px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); color: rgb(122, 104, 90); border: 2px solid rgba(0, 0, 0, 0.05);  margin-top:45px;"><i class="fa fa-arrow-right" aria-hidden="true"></i> Right</label>
            </div>
            <div class="col-md-8"><img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="img6.png"></div>
        </div>
    </div>

    <div class="container" style="margin:0 auto 50px;">
       
        <div class="row">
            <div class="col-md-12">
                <label style="display: inline-block; padding: 15px 50px; background: rgb(192, 174, 160) none repeat scroll 0% 0%; border-radius: 35px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); color: rgb(122, 104, 90); border: 2px solid rgba(0, 0, 0, 0.05); margin-bottom:45px;"><i class="fa fa-arrow-down" aria-hidden="true"></i> Bottom</label>
            </div>
            <div class="col-md-12 text-center"><img style="max-height: inherit; width: auto; max-width: 100%; margin: 0px auto;" class="oe_picture oe_screenshot" src="img3.png"></div>
        </div>
    </div>


</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">You may also like</h2>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/10.0/website_product_paging">
                <img class="img-border img-responsive thumbnail" src="product-pagging.png"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/10.0/url_rewrite_builder">
                <img class="img-border img-responsive thumbnail" src="url-rewrite.png"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/10.0/seo_data_manager">
                <img class="img-border img-responsive thumbnail" src="odoo-seo-suite.png"/>
            </a>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 img-content text-center">
            <h2 class="oe_slogan">Our Odoo Services</h2>
        </div>
        <div class="bc-span col-md-12">
            <div class="inner-span">
                <a target="_blank" href="https://goo.gl/IBH9qG">
                    <img class="img-border img-responsive thumbnail" src="service-banner.png" />
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="col-md-12 img-content text-center">
            <h2>Technical Help &amp; Support</h2>
            <p style="margin: 30px 0px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br /> service is the parameter defining the success of our business and earning us the brand name.       <br />    Please feel free to contact us</p>
            <div class="text-center">
                <a style="background: #315b8f  none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: #315b8f;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@appjetty.com">
                    <i class="fa fa-envelope"></i>  support@appjetty.com </a>
            </div>
            <br/>
        </div>
    </div>
</section>

</div>
