<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Journal Anglo Saxon for Point of Sale Odoo V.10</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="main_screenshot.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Added anglo saxon accounting journal items in POS Sale Journal
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Checklist Use Anglo-Saxon Accounting</h3>
        </div>
        <div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="1.png">
		  </div>
		</div>
		<div class="oe_span12">
            <h3 class="oe_slogan">Category Account Configuration</h3>
        </div>
		<div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="2.png">
		  </div>
		</div>
        <div class="oe_span12">
            <h3 class="oe_slogan">Example: Buy 2 Product Misc</h3>
        </div>
		<div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="3.png">
		  </div>
		</div>
        <div class="oe_span12">
            <h3 class="oe_slogan">Example: When Validate Order, It will generate Journal Entries (Stock Journal)</h3>
        </div>
		<div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="4.png">
		  </div>
		</div>
		<div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="5.png">
		  </div>
		</div>
		<div class="oe_span12">
            <h3 class="oe_slogan">Example: When Closing Session, It will generate Journal Entries (POS Sale Journal)</h3>
        </div>
        <div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="6.png">
		  </div>
		</div>
		<div class="oe_span12">
		  <div class="oe_demo oe_row_img oe_centered">
		    <img class="oe_screenshot" src="7.png">
		  </div>
		</div>
    </div>
</section>
