
.modal-backdrop {
opacity:0 !important;
z-index: 0 !important;
}

.modal-content{
margin-top: 15%;
}
.filter_categ_inner{
    display:none;
  position: fixed;
z-index: 30;
left: 0;
top: 0;
width: 100%;
height: auto;
overflow: auto;
background-color: rgb(0,0,0);
background-color: white;
margin-top: 20%;
margin-left:;
border: 1px solid #888;
padding-top: 29px !important;
bottom: 77px;
top: auto;
}
.button1 {
   /* background-color: #008CBA; /* Green */
   /* background-image:url("/custom_website/static/src/img/filter.png") ;*/
background-repeat: no-repeat;
width: 54px;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
position: fixed;
z-index: 20;
margin-left: 5px;
font-size: 12px;
margin-top: 8%;
height: 60px;
bottom: 1px;
opacity:0.8;
}
.button_positions{
background-color: #0a2b3a;
width:100px;
height: 45px;
left:45%;
font-size: 22px;
font-family: plume;
opacity: 0.9 !important;
 font-weight:bold;

}
.align_center_ups_button{
position:fixed;
    position: fixed;
    bottom: -4px;
    left: 4%;
    opacity: 1.5;
    z-index:1200;
    background-color: rgb(225,225,225,0);
    border: none;
    font-size: 24px;
}
.angle_arrow_button{
position:fixed;
  position: fixed;
    bottom: -4px;
    right: 4%;
    z-index:1200;
    opacity: 1.5;
    background-color: rgb(225,225,225,0);
    border: none;
    font-size: 28px;
}
@media only screen and (max-width: 600px) {
.button_positions {
    /*background-color: #22416e !important;*/
    width: 100px !important;
    height: 43px;
    left: 34%;
}

}

.filter_wrapper{
    display:none;
    /*background-color: #fefefe;
    margin: 2% auto;
    padding: 2px;
    border: 1px solid #888;
    width: 80%;*/
}
.category_wrapper li:nth-of-type(1){
    display:none;
}
.button1:hover{
    opacity:1;
}

.expand {
 transform: scale(1);
 z-index: 1;
}
/*@media only screen and (max-width: 1428px) {
    .filter_categ_inner {

}
}*/
/*@media only screen and (max-width: 756px) {
    .button1 {
    position: fixed;
    background-color: #008CBA;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
position: fixed;
z-index: 20;
margin-left: 3px;
font-size: 12px;
margin-bottom: 80%;
border: 1px solid #888;
margin-top: 30%;
}
.filter_categ_inner{

position: fixed;
z-index: 30;
left: 0;
top: 0;
width: 70%;
height: auto;
overflow: auto;
background-color: rgb(0,0,0);
background-color: white;
margin-top: 15%;
margin-left: 20%;

}
}*/


