.scrolldown1 {
    /*right:10px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
}
.scroll1 {
    position: fixed;
    bottom: 0%;
    right: 49%;
    bottom:20px;
    padding: 5px 12px;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll1:hover {
    background:rgba(4, 43, 58, 0.76);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll1:hover .fa {
    padding-top:-10px;
}
.scroll1 .fa {
    font-size:30px;
    color: #fff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll1 .fa:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #ffffff;
    width: 46%;
    margin-left: 15px;
    top: 67%;
    left: -3px;
}
.demo1 a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo1 a:hover {
  opacity: .5;
}

#section11 a {
  padding-top: 60px;
}
#section11 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section11 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}