

/*#text-centered {
   display: none;
}

.o_database_list {
    width:600px;
}

.oe_login_buttons > a{
display:none;

}*/
.filter_categ_inner {
    padding-top: 22px !important;
    text-align: center;
}
.category_wrapper li:nth-of-type(1){
    display:inline !important;
}
#pull-rights{
    padding-top: 22px !important;
    text-align: center;
}
.display_none{
display: none;
}

element.style {
    display: block;
    padding-right: 17px;
}
.fm {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0,0,0,.8) !important;
}

@media only screen and (max-width: 650px) {
.scrolldown {
    width: 100%;
    margin: 0 auto;
    position: fixed !important;
    bottom: 46px;

}
}
.scrolldown {
    width: 100%;
    margin: 0 auto;
    position: fixed !important;

}
