/*.navbar-default {
    background-color: #333;

}

.app-sidebar-panel{
background-image:url('/theme/static/src/img/cenpac.png');
background-repeat: no-repeat;
position: relative;
background-position: 12px 5px;
}
.app-sidebar .app-sidebar-menu {
    margin-top:150px !important;
}

.app-sidebar .app-sidebar-menu > li > a {
     background-image:url('/theme/static/src/img/bar.jpg');
     height:50px;
}
.app-sidebar .app-sidebar-menu > li > a > img{
       margin-top:10px !important;
}
.app-sidebar .app-sidebar-menu > li > a > span{
       margin-top:30px !important;
}
.app-sidebar .app-sidebar-menu > li > a {
    font-size: 15px !important;
}

.panel-default > .panel-heading {

    color: #b00e0e;
    background-color: #263c75;
    border-color: #263c75;

}
.app-drawer-icon-close{
    color:white;
}
.app-drawer-icon-close:hover{
    color:#ecdbdb;
}
.app-drawer-icon-close > span{
    color:white;
    display: none !important;
}
.app-drawer-icon-search{
    color:white;
}
.app-drawer-icon-search:hover{
    color:#ecdbdb;
}
.pull-left > span{
    color:white;
}
.fa-lg{

}*/
