/*The ReservedOrderList Screen */
.pos .reserved-orderlist-screen .reserved-order-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

.pos .reserved-orderlist-screen .reserved-order-list th, .pos .reserved-orderlist-screen .reserved-order-list td
{
    padding: 0px 5px;
}

.pos .reserved-orderlist-screen .reserved-order-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.pos .reserved-orderlist-screen .reserved-order-list thead > tr, .pos .reserved-orderlist-screen .reserved-order-list tr:nth-child(even){
    background: rgb(247, 247, 247);
}

.pos .reserved-orderlist-screen .reserved-order-list tr.highlight {
    transition: all 150ms linear;
    background: #bfbfbf !important;
    color: white;
}

.pos .reserved-orderlist-screen .reserved-order-list tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}

.pos .reserved-orderlist-screen .reserved-order-list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.screen .top-content .filter {
    margin-left: 10px;
    margin-top: 15px;
}

.screen .top-content .button.date {
    left: 0px;
    margin-left: 536px;
    z-index: 100;
}

.pos .reserved-orderlist-screen .searchbox {
    right: auto;
    margin-left: -150px;
    margin-top: 8px;
    left: 92%;
}

.pos .reserved-orderlist-screen .searchbox input {
    width: 120px;
}

.screen .top-content .date-filter input {
    margin-top: 13px;
    margin-left: 72px;
    width: 150px;
    height: 27px
}


.screen .top-content .date-filter i {
    height: 20px;
}

/* ORDER DETAIL SCREEN */
.orderdetail-screen .order-details{
    padding: 16px;
    border-bottom: solid 5px rgb(110,200,155);
}
.orderdetail-screen .order-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 16px;
}
.orderdetail-screen .order-details-box{
    font-size: 16px;
}
.orderdetail-screen .order-details-left{
    width: 50%;
    float: left;
}

.orderdetail-screen .order-details-right{
    width: 50%;
    float: right;
}
.orderdetail-screen .order-detail{
    line-height: 24px;
}
.orderdetail-screen .order-detail > .label {
    font-weight: bold;
    display: inline-block;
    width: 120px;
    text-align: left;
    margin-right: 8px;
}
.orderdetail-screen .top-content .button.delivered {
    left: 0px;
    margin-left: 162px;
}
.orderdetail-screen .top-content .button.pay_delivered {
    left: 0px;
    margin-left: 310px;
}
.orderdetail-screen .top-content .button.payer {
    left: 0px;
    margin-left: 505px;
}
.orderdetail-screen .paymentline-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .orderdetail-screen .paymentline-list th, .pos .orderdetail-screen .paymentline-list td{
    padding: 0px 5px;
}

.pos .orderdetail-screen .paymentline-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.pos .orderdetail-screen .paymentline-list thead>tr, .pos .orderdetail-screen .paymentline-list tr:nth-child(even)
    {
    background: rgb(247, 247, 247);
}

.pos .orderdetail-screen .paymentline-list tr.highlight {
    transition: all 150ms linear;
    background: #bfbfbf !important;
    color: white;
}

.pos .orderdetail-screen .paymentline-list tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}

.pos .orderdetail-screen .paymentline-list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
/* Cancel Popup */
.pos-return-popup{
	height:95% !important;
	width:70% !important;
}
#return_order_number{
	width:30% !important;
}
.content{
	margin-left: 5%;
}
.check_box_tag {
    position: absolute;
    top: -16px;
    right: 84px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    padding: 0px 5px;
    border-radius: 2px;
    width: 43px;
}
.js_quantity{
	min-height: 0px !important;
	height: 24px !important;
	font-size: 14px !important;
	padding: 0px !important;
	text-align: center !important;
	width: 50% !important;
	margin: 0px 5px;
}
.cancel_item_container{
    height: 460px;
}
.ac_product_list{
	max-height: 450px !important;
	overflow: auto;
}
.order_info_mini_cart{
    float: left;
    background: #FFF !important;
    border: thin solid #ccc;
    height: 450px;
    width: 35% !important;
    margin-left: 20px;

}
div.order_info_mini_cart .product_info{
    font-size: 16px;
    max-height: 60%;
    overflow-y: auto;
    height: 60%;
    border-bottom: solid 3px #bfbfbf;
}
div.order_info_mini_cart .cancel_order_summary{
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}
div.order_info_mini_cart .cancel_order_summary div{
    padding: 12px;
}
div.order_info_mini_cart .cancel_order_summary span.label{
    width: 60%;
    float: left;
    text-align: left;
}
div.order_info_mini_cart .cancel_order_summary span.value{
    float: right;
    margin-right: 5px;
    width: 25%;
    text-align: right;
}
div.order_info_mini_cart .product_info li.cancel_line{
    width: 100% !important;
    margin: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-sizing: border-box !important;
    text-align: left;
    border-bottom: 1px solid #CCC;
}
div.order_info_mini_cart .product_info li.cancel_line span.cancel_product_name{
    display: inline-block;
    padding: 0;
    width: 50%;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.order_info_mini_cart .product_info li.cancel_line span.cancel_product_total{
    float: right;
}
div.order_info_mini_cart .product_info li.cancel_line ul{
    font-size: 12px;
    padding: 5px;
}
div.order_info_mini_cart .product_info li.cancel_line .cancel_operations .cancel_qty{
    width:88% !important;
    display: inline-block;
}
div.order_info_mini_cart .product_info li.cancel_line .cancel_operations .remove_line{
    cursor: pointer;
    font-size: 22px !important;
    color:red;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
}
.product_content{
    width: 120px !important;
    height: 100px !important;
}
.check_all_items .label{
    font-size: 14px;
    color: red;
}
.check_all_items .check_all_items_checkbox{
    width: 5% !important;
    min-height: 0px !important;
}
.screen .top-content .button.pay {
    right: 0px;
    margin-right: 16px;
}
#client_list_header_buttons {
    height: 64px;
    position: absolute; top: 0; right: 165px; left: 50%;
}
.screen .top-content .client_history_button {
    float: left;
    font-size: 15px;
    margin-right: 0;
    position: static !important;
}
.pos .clientlist-screen .searchbox {
    left: 30%;
}

.pos .clientlist-screen .button.new-customer {
    left: 30%;
}

.pos .clientlist-screen .client-picture {
    margin-right: 26px;
}

.pos .clientlist-screen .client-detail > .label {
    width: 85px;
}
.js_qty{
	font-size: 22px !important;
}