@media (min-width: 768px) and (max-width: 800px), (min-height: 1024px) and (max-height: 1024px){
.header_top_right{
    margin-right:0px !important;
}
}
.category_banner_image > .item > img{
	height:100vh !important;
}


.bar{
    color: #24659e;
    font-size: 25px;
    margin-left: 10px;
    opacity: 0.9;
    font-weight: bold;
}
#top_menu>li:nth-child(3)>.bar {
  display:none;
}

@media screen and (min-width: 767px) {
	.categrory_image1 {
	    display: none;

}
	
}


@media screen and (max-width: 767px) and (min-width: 300px) {

.categrory_image1 {
    display: block;
    margin-top: 5px;
}

.bar{
display:none !important;
}

}
.svg_cancel_icon{
    display:;
}
.svg_cancel_mobile {
    display: ;
    position: static;
    margin-top: -2px ;
    margin-left: 40px ;
    margin-right: -39px;
    width: 19px;

}
.svg_cancel_desk{
    margin-top: 1px !important;
    width: 17px !important;
}

/*.scrolldown {
    left:2% !important;
}*/
.oe_cart > .row > .col-md-12 > .page-header{
    margin-top:15px !important;

}

h3.page-header{
    padding-left: 10px;


}

.page-header > .btn-primary{
    color: white !important;
    font-family: plume;
    margin-left: 13px;
    margin-bottom: -9px;
}

.oe_cart .page-header small{
    color: #003366;
    padding-left: 10px;
}

.coupon_code_shoeembassy{
	text-transform:capitalize;
}

.product_description {
    display: none;
}

.categrory_image {
    display: none;
}

.specification_details {
    padding: 0px 4px !important;
    font-family: plume !important;
}

/*.form-group {
    position: absolute !important;
    z-index: 1 !important;
    right: -2px !important;

}*/


/*#product_detail > .row > .col-sm-9 > .product_details_wrapper{
    display:none;
}*/


/*parallax*/

.categ_image {
    height: auto !important;
}

.header_top .header_offer label {
    font-size: 1.6rem;
}

.c_product_details .price {
    right: 4%!important;
    top: 3%;
}


/*.size_box_main{
    float: right !important;
    margin-right:-36px !important;
}*/

.c_product_title {
    margin-left: 0px;
    color: #013365 !important;
}

.p_price {
    float: right !important;
    right: 7% !important;
}

.c_product_inner .c_product_img {
    border: 1px gray;
}

.align_center_ups_button {
    display: none !important;
}

#add_to_cart {
    background-color: #bc2010 !important;
    border-color: #bc2010;
    border-radius: 0;
    /*float: right;
    margin-right: 32%;*/
    margin-bottom: 15px !important;
    float: left;
}

#product_details {
    z-index: 0 !important;
}

.button_close_filter {
    position: absolute;
    top: 19px !important;
    right: 28px;
    font-family: plume !important;
    font-size: 21px;
    font-style: italic;
    color: #003366 !important;
    opacity: 0.8 !important;
}

.button_close {
    position: absolute;
    top: 19px !important;
    right: 28px;
    font-family: plume !important;
    font-size: 21px;
    font-style: italic;
    color: #003366 !important;
    opacity: 0.8 !important;
}

.filter_title_header {
    font-family: plume !important;
    font-style: italic;
    font-size: 20px;
}

#product_container_inherit {
    width: 960px !important;
    position: relative;
    /*padding: 42px 120px 10px 120px;*/
    margin-top: -169px;
}

.parallax_image_text {
    margin-left: 45%;
    font-size: 45px;
    margin-top: -26%;
    z-index: 0;
}


/*
.category_main_banner img {
    width: 100%;
    position: relative !important;
    z-index:-5;
}*/

.parallax_image_text1 {
    font-size: 43px;
    text-align: center;
    position: relative;
    z-index: 0;
    top: 33%;
}

.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg");

    /* Set a specific height */
    /* min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*paralal ends*/

.my_cart_quantity {
    font-size: 45%;
    border-radius: 1.00em;
    margin-left: -19px;
    left: 4.5em;
}

.categrory_image2 {
    display: none;
}

.categrory_image_full {
    margin-top: -25px;
}

header .menu_inner_area {
    border-bottom: 0px solid #bb2121 !important;
}

header .header_top .header_top_right {
    height: 21px;
}

.header_top {
    background: #EE0606 !important;
    margin-top: ;
}

.footer {
    background: transparent;
    margin-bottom: 2%;
}

header .menu_inner_area {
    position: fixed;
    left: 0px;
    width: 100%;
    margin-top: 39px;
    z-index: 2!important;
    background: #173452 !important;
    opacity: 1;
    border-bottom: 1px solid #dedede;
}

.navbar-static-top {
    z-index: !important;
    border-width: 0 0 1px;
}

.label-danger {
    background-color: #173452 !important;
}

#top_menu>li:nth-child(2)>a {
    color: white !important;
    font-weight: bold;
font-size:24px !important;
}

#top_menu>li:nth-child(1)>a {
    color: white !important;
    font-weight: bold;
	font-size:24px !important;
}

#top_menu>li:nth-child(3)>a {
    color: red !important;
    font-weight: bold;
font-size:24px !important;
}

#top_menu>li:nth-child(2)>a:hover {
    color: red !important;
    text-decoration: underline !important;
}

#top_menu>li:nth-child(1)>a:hover {
    color: red !important;
    text-decoration: underline !important;
}

#top_menu>li:nth-child(3)>a:hover {
    color: red !important;
    text-decoration: underline !important;
}



.header_top .header_offer label {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: #fff;
    font-family: plume !important;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_top_right>.search_icon .search_icon>.fa-search {
    font-size: 120% !important;
    color: black !important;
}

.header_top_right>.chat_icon>a>.fa-comments {
    font-size: 120% !important;
    color: black !important;
}

.header_top_right>.map_icon>a>.fa-map-marker {
    font-size: 120% !important;
    color: black !important;
}

.header_top_right>ul>a>.fa-user {
    font-size: 120% !important;
    color: black !important;
}

.header_top_right>.wishlist>a>.fa-heart {
    font-size: 120% !important;
    color: black !important;
}

.header_top_right>.cart_icon>a>.fa-shopping-basket {
    font-size: 120% !important;
    color: black !important;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    header .header_top .header_top_right {
        background: #fff !important;
    }
    .header_top_right {
        padding
    }
    .account_body {
        font-family: plume;
        font-style: italic;
        margin-top: 50px !important;
    }
   /* .header_top_right .search_icon,*/
    .header_top_right .wishlist,
    .header_top_right .cart_icon,
    .header_top_right .map_icon,
    .header_top_right .chat_icon,
    .header_top_right .login_icon {
        float: none;
        display: inline-block!important;
    }
    #top_menu>li>a {
        margin-top: -3px;
    }

	/*#product_detail .bread {
	margin-top: 39px !important;
	}*/

}

@media screen and (max-width: 767px) and (min-width: 300px) {
    header .header_top {
        background: #EE0606 !important;
    }
    #section10 {
        left: 41% !important;
        position: static !important;
    }
.scroll1 {
    right: 46%;
    bottom: 0px;
}
}

    #section10 {
        position: static !important;
    }
	#section10 a span {

	top:auto!important;
	bottom:58px;
	}
@media screen and (max-width: 767px) and (min-width: 300px) {
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {
        font-size: 28px !important;
        line-height: 75px;
        color: white !important;
    }
    #section10 a span {
	bottom:30px;
	}
}

@media (max-width: 767px) {
    header .menu_inner_area {
        margin-top: 0px;
        padding: 0px 0;
        background: #173452 !important;
    }





}

#search-custom {
    position: inherit;
    width: 71%;
    margin: auto;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    #top_menu>li>a {
        margin-right: -8px;
    }
    #product_container_inherit {
        position: relative;
        padding: 0px;
        margin-top: -79px;
    }


.parallax_img{
    position:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;

    height:295px !important;
    width:100%;
}

}

@media screen and (max-width: 767px) and (min-width: 300px) {
	.header_top_right .cart_icon {

	    margin-left: 5px !important;
	}
    .oe_empty {
        padding-top: 82px !important;
        margin-top: -132px;
    }
    .search_formds input {
        z-index: 1;
        position: relative;
    }
    .s_snippet_height {
        margin-top: -117px !important;
    }
}

.back_icon {
    position: absolute;
    top: 43%;
    right: 0%;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .category_main_banner img {
        width: 100%;
        position: relative;
	margin-top: -24% !important;
      /*  margin-top: -180px !important;*/
    }
    .header_top_right .login_icon {
        margin-bottom: 10px!important;
    }
    .header_top_right .login_icon {
        margin-bottom: -7px!important;
    }
    .button_filter {
        background-repeat: no-repeat;
        width: 114px;
        border: none;
        text-align: center;
/*        border-radius: 8px;*/
        text-decoration: none;
        display: inline-block;
        position: fixed;
        z-index: 20;
        margin-left: 34% !important;
        font-size: 24px;
        margin-top: 8%;
        height: 44px;
        color: white !important;
        font-family: plume !important;
        background-color: #003366 !important;
/*        font-style: italic !important;*/
        text-transform: capitalize !important;
        text-align: center;
        bottom: 1px;
        opacity: 1;
    }
    .parallax_image_text1 {
        top: 48%  !important;
font-size:68px !important;
    }
    .categrory_image_full {
        display: none;
    }
    .categrory_image {
        display: block;
        margin-top: -10px;
    }
    .category_mens {
        /*    margin-top:-33px;*/
    }
    .categrory_image2 {
        display: block;
    }
    .cart_icon {
        padding-bottom: 0px;
    }
    .oe_login_form,
    .oe_signup_form,
    .oe_reset_password_form {
        max-width: 300px;
        position: relative;
        margin: 50px auto;
        z-index: 0;
    }
    .header_offer {
        text-align: center;
        width: 100%;
        margin-left: 0%;
        padding-bottom: 10px;
        position: fixed;
        margin-top: 74px;
        background-color: red;
    }
    header .header_top {
        background: #e3e3e3 !important;
        margin-top: -11%;
    }
    header .header_top .header_top_right {
        margin-right: -60px !important;
        text-align: center;
        width: 118% !important;
        background: grey;
        margin-top: -26px !important;
        height: 52px !important;
    }
    header .menu_inner_area {
        margin-top: -30px !important;
        padding: 0px 0;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: 2%;
    }
    .footer_boarder {
        height: 51px;
        width: 102%;
        left: -1%;
        position: fixed;
        z-index: 1;
        border-width: thin;
        border: black;
        bottom: -4px;
    }
    .label-danger {
        margin-right: 40px;
    }
}

.footer_image {}

.menu_inner_area .navbar.navbar-default .nav.navbar-nav li.single_categ {
    margin-right: 0px !important;
}

.button_positions {
    background-color: #F7F4F2 !important;
    width: 100px !important;
    height: 38px;
    left: 34%;
    color: #163156 !important;
}

#pull-rights {
    padding-top: 22px !important;
    text-align: center;
    bottom: 0% !important;
    z-index: 1500;
}

.button_filter {
    background-repeat: no-repeat;
    width: 100%;
    border: none;
    text-align: center;
/*    border-radius: 8px;*/
    text-decoration: none;
    display: inline-block;
    position: fixed;
    z-index: 20;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 24px;
    margin-top: 8%;
    height: 44px;
    background-color: #003366 !important;
    font-family: plume !important;
    color: #fff !important;
   /*font-style: italic !important;*/
    text-transform: capitalize !important;
    text-align: center;
    bottom: 1px;
    opacity: 1;
}

@media (max-width: 500px){

	.button_filter {
	    background-repeat: no-repeat;
	    width: 100%;
	    border: none;
	    text-align: center;
/*	    border-radius: 8px;*/
	    text-decoration: none;
	    display: inline-block;
	    position: fixed;
	    z-index: 20;
	    margin-left: 0% !important;
	    margin-right: 0%;
	    font-size: 24px;
	    margin-top: 8%;
	    height: 44px;
	    background-color: #003366 !important;
	    font-family: plume !important;
	    color: #fff !important;
	   /*font-style: italic !important;*/
	    text-transform: capitalize !important;
	    text-align: center;
	    bottom: 1px;
	    opacity: 1;
	}

}



#top_menu>li>a {
    color: white !important;
    text-decoration: none;
}

.product-info-table .info-row-label {
    font-size: 14px !important;
    color: #333 !important;
    font-family: plume !important;
    text-transform: capitalize !important;
    text-align: left !important;
    line-height: 21px;
}

#wrap {
    border-top: 1px solid black;
    border-top: none;
}


/*
.category_container{
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-overflow-scrolling: touch;
}
.custom_mobile_categ_img{
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.categ_image{
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    top: calc(((100vh - 51.54vw) / 4) * -2);
}
*/


/*.custom_mobile_categ_img{
 width:100%;
 position:relative;
 top:400px;
 left:0;
 }

.custom_mobile_categ_img img{
 width:100%;
 position:relative;
 z-index:0;
}
*/

#wrap {
    border-top: 1px solid black;
    border-top: none ! important;
}

.bottom-left.categ {
    position: relative;
    border-radius: 0px;
    background-color: red !important;
    color: #fff !important;
    bottom: 25px;
    display: none;
}

.product_page h1 {
    font-family: plume;
    text-transform: capitalize;
    color: #003366;
    font-size: 2.5rem;
    margin-top: 10px;
}

.nav-stacked>li {
    float: none;
    text-align: right;
    padding-right: 35px;
}

.c_product_inner .c_product_img img {
    width: 100%;
    border: 1px solid #3333;
}

@media only screen and (max-width: 736px) {
    #thumbnail-slider-next {
        right: -10px;
    }
}

@media only screen and (max-width: 736px) {
    #thumbnail-slider-prev {
        left: -10px;
    }
    .input-group[class*=col-] {
        z-index: 0;
    }
}

.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {
    font-style: normal ! important;
}

.input-group[class*=col-] {
    z-index: 0;
}

.categ_img {
    padding-top: 2%;
    position: relative;
    img {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .categ_img {
        padding-top: 2%;
        position: relative;
        img {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: auto;
        }
    }
	.bg_color {
    	margin-top: 34% !important;
	}
}

@media only screen and (max-width: 736px) {
    #add_to_cart {
        float: right;
        margin-right: 20%;
    }

}

.size_inner.pagination a {
    text-align: center;
    /* margin: 3px; */
}

.bottom-left {
    background-color: #000 !important;
}


.custom_mobile_categ_img {

	display: none !important;
}
.bg_color {
    margin-top: 1% !important;
}