.icon_home {
    width: 25px;
    margin-top: -5px;
    margin-left: 31px;
    margin-bottom: -17px;
}
.search_icon_close .categrory_image {

    width: 25px;
    margin-top: -5px;
    margin-left: 31px;
    margin-bottom: -17px;


}
@media (min-width: 320px) and (max-width: 320px), (min-height: 568px) and (max-height: 568px){

	.icon_home {
	    width: 25px	;
	    margin-top: -3px;
	    margin-left: 13px;
	    margin-bottom: -19px;
	}
	.search_icon_close .categrory_image {

	    width: 25px;
	    margin-left: 70%;
	    margin-top: -18%;
	}
}


@media (min-width: 360px) and (max-width: 360px), (min-height: 740px) and (max-height: 740px){

	/*.icon_home {
	    width: 25px;
	    margin-top: -3px;
	    margin-left: 45px;
	    margin-bottom: -19px;
	}*/
	.search_icon_close .categrory_image {

	    width: 23px;
	    margin-left: 48px !important;
	    margin-top: -5%;
	    margin-right: -35px !important;
	    margin-bottom: -17px !important;
	}

}







@media (min-width: 414px) and (max-width: 414px), (min-height: 736px) and (max-height: 736px){

	.icon_home {
	    width: 25px;
	    margin-top: -3px;
	    margin-left: 45px;
	    margin-bottom: -19px;
	}
	.search_icon_close .categrory_image {

	    width: 25px;
	    margin-left: 67px !important;
	    margin-top: -18%;
	    margin-right: -67px !important;
	}

}

@media (min-width: 375px) and (max-width: 375px), (min-height: 667px) and (max-height: 667px){

	.icon_home {
	    width: 25px;
	    margin-top: -3px;
	    margin-left: 34px;
	    margin-bottom: -19px;
	}

	.search_icon_close .categrory_image {
	    width: 25px;
	    margin-left: 190%;
	    margin-top: -18%;
	}
}

@media (min-width: 411px) and (max-width: 412px), (min-height: 731px) and (max-height: 732px){

	.icon_home {
	    width: 25px;
	    margin-top: -3px;
	    margin-left: 46px;
	    margin-bottom: -19px;
	}
	.search_icon_close .categrory_image {

	    width: 25px;
	    margin-left: 67px !important;
	    margin-top: -18%;
	    margin-right: -67px !important;
	}
}




.icon_home_desk {
    width: 25px;
    margin-bottom: -27px;
    margin-left: -9px}

.search_formds{
    padding-top: 100px !important;
    margin-bottom: 0px !important;

}
@media screen and (max-width: 450px) and (min-width: 410px) {
.search_icon .icon_search {
    width: 25px;
margin-left: 67px !important;
    margin-top: -18%;
    margin-right: -67px !important;
}

 .search_icon_close .svg_cancel_mobile {
      margin-top: -3px;
    margin-left: 67px;
    margin-right: -71px;
    width: 25px;

}
}
@media screen and (max-width: 411px) and (min-width: 380px) {
.search_icon .icon_search {
    width: 25px;
margin-left: 67px !important;
    margin-top: -18%;
    margin-right: -67px !important;
}

 .search_icon_close .svg_cancel_mobile {
      margin-top: -3px;
    margin-left: 67px;
    margin-right: -71px;
    width: 25px;

}
.category_main_banner img {
    position: relative;
   /* margin-top: -207px !important;*/
}
#search-custom {
    width: 100%;
}
.search_formds input {
    border: none;
    font-size: 2.4rem;
    line-height: 5.4rem;
    width: 100%;
    font-family: plume;
}

}
@media screen and (max-width: 500px) and (min-width: 412px) {
#search-custom {
    width: 100%;
}
.search_formds input {
    border: none;
    font-size: 2.4rem;
    line-height: 5.4rem;
    width: 100%;
    font-family: plume;
}
}
@media (min-width:320px) and  (max-width:768px)  {
.search_formds{
    padding-top: 136px !important;
		margin-bottom: 8px !important;

}
}

@media (max-width: 375px) and  (max-width:375px) {


.search_icon .icon_search {
    width: 25px;
    margin-left: 190%;
    margin-top: -18%;
}

 .search_icon_close .svg_cancel_mobile {
    width: 25px;
    margin-left: 190%;
    margin-top: -18%;
}

}


@media (min-width:320px) and  (max-width:320px)  {
.search_icon .icon_search {
    width: 25px;
    margin-left: 70%;
    margin-top: -18%;
}

 .search_icon_close .svg_cancel_mobile {
    width: 25px;
    margin-left: 70%;
    margin-top: -18%;
}

}


.icon_search_desk {
    width: 25px;
}

.icon_chat {
    height: 26px;
    margin-left: -27%;
}

.icon_chat_desk {
    width: 25px;
}

.icon_location {
    height: 24px;
    margin-right: 3%;
}

.icon_location_desk {
    width: 25px;
}

.icon_user {
    height: 24px;
    margin-bottom: 15px;
    margin-left: 51%;
}

.icon_user_desk {
    height: 22px;
}

.icon_shopping {
    height: 23px;
    margin-bottom: -13px;
    margin-top: -3px;
    margin-left: 79%;
}

.icon_shopping_desk {
    height: 22px;
}

.icon_heart {
    height: 22px;
    margin-left: 55%;
}

.icon_heart_desk {
    height: 21px;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    .my_cart_quantity {
        font-size: 45%;
        border-radius: 1.00em;
        margin-left: -11px;
        left: 6.5em;
    }
    /*header .header_top .header_top_right {
    padding: 18px 34px 9px 0px !important;
}*/
    .my_cart_quantity {
        top: -1.8em !important;
        font-size: 45%;
        border-radius: 1.00em;
        margin-left: -22px !important;
    }
    .shoe_product_wrapper .c_product_inner ul.cart_icon {
        bottom: -18px;
    }
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand {
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 650px){
.label-danger {
    top: -2.0em !important;
    font-size: 45%;
    border-radius: 1.00em;
    margin-left: -22px !important;
}
}
.shoe_product_wrapper .c_product_inner ul.cart_icon {
    bottom: -4px;
}

@media (max-width: 650px) {
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {
        /*
  margin-top: 7px;
*/
        vertical-align: text-top;
    }
}

@media screen and (max-width: 767px) and (min-width: 300px) .shoe_product_wrapper .c_product_inner ul.cart_icon {
    bottom: -23px !important;
}

@media (max-width: 650px) {
    .navbar-nav {
        /*
margin: -9.5px -11px -8px -15px !important;
*/
    }
}

@media (max-width: 650px) {
    .menu_inner_area .navbar.navbar-default .custom_center_nav {
        width: 75%;
        display: inline-block;
        float: none;
    }
}

.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {
    font-family: plume !important;
    font-weight: bold;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .shoe_product_wrapper .c_product_details .price {
        top: -3px!important;
        right: 6% !important;
        margin-bottom: -21px !important;
    }
    .price-disc {
        margin-bottom: -21px !important;
    }
    .alignright {
        padding-left: 15px!important;
    }
}

#thumbnail-slider {
    background-color: white!important;
}


/*.bg_color {
    margin-top: 16px;
    width: 470px;
    height: 470;
}*/

@media screen and (max-width: 900px) and (min-width: 300px) {
    .bg_color {
        width: 100%!important;
        height: 100%!important;
        margin-top: 0px;
    }
    .label:empty {
        background-color: #fff !important;
        display: inline !important;
    }
}

hr {
    border-top: 1px solid #ffff !important;
}

.xzoom {
    margin-top: 15%;
}


.bs-slider.slide{

    background: #ffff !important;
}
