.parallax_img{
    position:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    height:500px;
    width:100%;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
.parallax_img{
background-size: 100% 425px;
}
}

.parallax_image_text{
margin-left:50%;
}