<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Delivery Method - DPD </h2>
            <h3 class="oe_slogan">Inventory > Configuration > Delivery > Delivery Method</h3>
            <br /><br />
            <h4 class="oe_slogan">Configuration</h4>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="dpd10config.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
              <br><br><br><br>Create a new delivery method and specify the delivery type as DPD and specify the other DPD configuration details. As DPD webservice is not providing any shipping cost, you can specify a fixed shipping cost.
            	<br><br>For Activation for Live Web service (Partner Name, Partner Token, Cloud User ID, User Token)
 
<br>Please contact their IT team via DPD eSolutions using it@dpd.com or by using their Germany-wide hotline under 0180 6 373200*.
 
<br>Note Within the activation you’ll receive both new webservice access data (credentials) from the webservice administration and the live URLs of the DPD Cloud Service.
 
<br><br>For registering for sanbox detail
 
<br>Register at DPD Developer https://esolutions.dpd.com/entwickler/registrieren.aspx?lng=eng
            </p>
        </div>
        <div class="oe_span12">
            <br /><br />
            <h4 class="oe_slogan">Sample Label</h4>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="dpdsamplelabel.png">
            </div>
        </div>
		<div class="oe_span6">
            <p class="oe_mt32">
              Don't forget to specify the product weight in products.If you need the v8 version of this module, please contact us.
            </p>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row "> 
        <div class="oe_slogan text-center">
            <div class="oe_span12">
                <h2 class="text-center"><a>About Us</a></h2>
            </div>
            <span>
                <a style="color: #a24689 !important;" href="https://www.linkedin.com/company/steigend-it-solutions" target="new"><img src="linkedin.png" height="25" width="25" /></a> | 
                <a style="color: #a24689 !important;" href="https://twitter.com/steigendit" target="new"><img src="twitter.png" height="25" width="25" /></a> | 
                <a style="color: #a24689 !important;" href="https://www.facebook.com/steigendit/" target="new"><img src="facebook.png" height="25" width="25" /></a> | 
                <a style="color: #a24689 !important;" href="mailto:contact@steigendit.com"><img src="mailto.png" height="25" width="25" /></a>
            </span>
        </div>
    </div>
</section>