.category_main_banner {
    margin-top: 2%;
} 


.oe_website_sale input.js_quantity{
z-index:1 !important;
}

.js_cart_lines .input-group{
z-index:1 !important;
}

.js_cart_lines h1{
    margin: 0 0 6px ;

}




.bottom-left {
    position: absolute;
    text-align: center;
    bottom: 0px;
    /*border: 1px solid #ccc;*/
    height: 40px;
    color:white;
    border-radius: 3px;
    background-color: #003366;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 7px;
    opacity: 0.9;
    left: 0px;
}
.bottom-left .rated-excellent  b,.bottom-left .rated-excellent a, .bottom-left .rated-excellent span{
    color:white !important;
}
.bottom-left .rated-excellent .fa-star{
    color:green !important;
}


.gender_icon span {
    font-size : 18px;
}

.category_main_banner img {
    width: 100%;
    position: relative;
}
.search_btn_wrapper input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 350px !important;
    display: inline-block;
    background: transparent;
    border-width: 1px;
    border-radius: 0;
}
.search_btn_wrapper input[type=text]:focus {
    border: 1px solid grey;
}
.search_btn_wrapper input[type=text]::placeholder {
    color:#003366;
}
.search_btn_wrapper button {
    float: left;
    width: auto;
    padding: 10px 15px;
    margin-top: -4px;
    background: transparent;
    color: #003366;
    font-size: 22px;
    border: 0px solid grey;
    border-left: none;
    cursor: pointer;
}
.search_btn_wrapper button:hover {
    background: transparent;
}
.search_btn_wrapper button:focus {
    outline: none;
}
.filter_categ_wrapper {
    margin-top: -8%;
}
.filter_categ_inner {
    padding-top: 19px !important;
    text-align: center;
    bottom:0px;
}
.filter_categ_inner ul.filter_wrapper {
    padding-left: 0;
}
ul.filter_wrapper li:first-child {
    font-weight: 600;
}
ul.filter_wrapper li {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.filter_wrapper li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.filter_wrapper li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.filter_wrapper li.active a{
    color: #cd0000;
}

.filter_categ_inner ul.category_wrapper {
    padding-left: 0;
}
ul.category_wrapper li:first-child {
    font-weight: 600;
}
ul.category_wrapper li {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.category_wrapper li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
ul.category_wrapper li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.category_wrapper li.active a {
    color: #cd0000;
    text-decoration: none;
}

ul.size_wrapper {
    padding-left: 0;
}
ul.size_filter_inner li:first-child {
    font-weight: 700;
}
.size_filter_inner {
    margin: 0;
    padding: 0;
    margin-left: 0 !important;
}
.size_bold {font-weight: 700;}
ul.size_wrapper li {
    display: inline-block;
    font-size: 22px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.size_wrapper li:first-child {
    font-weight: bold !important;
}
ul.size_wrapper li label {
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}
ul.size_wrapper li label.active{
    color: #cd0000;
}
ul.size_wrapper li label:hover{
    color: #cd0000;
    cursor: pointer;
}
ul.size_wrapper li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sort_by_wrapper {height: 0;}
.categ-section .dropdown_sorty_by {
    position: relative;
    float: right;
    top:25px;
}
.categ-section .dropdown_sorty_by .dropdown-menu {
    left: auto;
    right: 0;
}
/*---------------- Shoe product section start-------------*/
.shoe_product_wrapper {
    /*margin: 0 0 4em 0;*/
    /* padding-top: 15px; */
    /*background-color: #969ae3;*/
}
.shoe_product_inner .col-lg-4, .shoe_product_inner .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}
.shoe_product_wrapper>span>img{
    width: 100%;
}
.c_product_inner .c_product_img img {
    width: 100%;
}
.c_product_inner .c_product_img {
    position: relative;
}
.c_product_inner ul.cart_icon {
    list-style: none;
    display: block;
    position: absolute;
    bottom: 0px;
    padding-left: 0;
    right: 5px;
}
.c_product_inner ul.gender_icon {
    list-style: none;
    display: block;
    position: absolute;
    bottom: 0px;
    padding-left: 0;
    width: 70%;
    text-align: left;
    /*n*/
    margin-left: 6px;
}
.c_product_inner ul.gender_icon i{
    color: #003366;
}
.c_product_inner ul.gender_icon li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.c_product_inner ul.cart_icon li {
    display: inline-block;
    padding: 0 3px;
    font-size: 20px;
}
.c_product_inner ul.cart_icon li a {
    color: #003366;
    cursor: pointer;
}
.c_product_inner ul.cart_icon li span {
    color: #003366;
    margin-left: 0px;
    cursor: pointer;
}
.c_product_inner .c_product_details {
    margin: 0px 0 5px 0;
}
.c_product_details .c_product_title {
    text-align: center;
    padding-bottom: 5px;
}
.c_product_details .c_product_title a {
    color: #003366;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 0 0 15px 0;
    font-style: italic;
    font-family: plume;
    text-transform: capitalize;

    /*N*/
    position: absolute;
    top: 1%;
    left: 3%;
    font-size: 20px;
    text-transform: uppercase;
}
.c_product_details .c_product_title a:hover, .c_product_details .c_product_title a:focus {
    color: #003366;
    text-decoration: none;
}
.c_product_details .price {
    margin-bottom: 1em;
}
.c_product_details .price {
    text-transform: uppercase;
    /*color: #003366;*/
    text-align: right;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bolder;
    font-family: plume;

    /*N*/
    color: #b31315;
    position: absolute;
    top: 0%;
    right: 1%;
}
.product_categs{
    padding-top: 30px;
    width:100%;
}
/*---------------- Shoe product section end-------------*/
ul.size_wrapper li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.size_wrapper li.active {
    color: #cd0000;
}
.products_pager{
    margin-top: -6% !important;
    display: none;
}
.js_attributes {
    text-align: center;
}

.section_title p {
    color: #003366;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    margin: -32px 0 2em 0;
    font-style: italic;
    font-family: plume;
}
.section_title p span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
    margin-top: 1.5px;
}
.css_attribute_color1 {
    display: inline-block;
    text-align: center;
}
.css_attribute_color1 input {
    margin: 2px;
    height: 11px;
    opacity: 0;
}
.shoe_product_wrapper span img.categ_image {
    margin-bottom: 0px;
}
.showmore {
    display: none;
}
/*.wish_list_wrapper{
    margin-top: 16% !important;
}*/
.css_attribute_color{
    margin-left: 1em;
}

/*------------------- product page start------------------*/
.prod_filter_wrapper {
    padding-bottom: 30px;
    text-align: center;
}
.prod_filter_wrapper ul.prod_filter_inner {
    padding-left: 0;
}
ul.prod_filter_inner li:first-child {
    font-weight: 600;
}
ul.prod_filter_inner li {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.prod_filter_inner li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.prod_filter_inner li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.prod_filter_inner li a.active {
    color: #cd0000;
}
.prod_variant_img {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.prod_variant_img li {
    display: inline-block;
    padding: 0 10px 0 0;
}
.prod_variant_img li:first-child {
    padding-left: 0;
}
.prod_variant_img li img {
    height: 70px;
    width: 70px;
}
.product_page h1 {
    font-family: plume;
    text-transform: capitalize;
    color: #003366;
    font-size: 2.5rem;
}
.product_size label {
    width: 100%;
    font-family: plume;
    font-style: italic;
    font-weight: 900;
}
.size_inner {
    margin: 2px 0;
}
.size_inner>li>a, .size_inner>li>span {
    color: #000;
    border: 1px solid #dedede;
}
.size_inner>.active>a,
.size_inner>.active>a:focus,
.size_inner>.active>a:hover,
.size_inner>.active>span,
.size_inner>.active>span:focus,
.size_inner>.active>span:hover {
    background-color: #003366;
    border-color: #003366;
}
.size_inner>.disabled>a,
.size_inner>.disabled>a:focus,
.size_inner>.disabled>a:hover,
.size_inner>.disabled>span,
.size_inner>.disabled>span:focus,
.size_inner>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #ddd;
    border-color: #ddd;
}
.size_inner>li:last-child>a, .size_inner>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.size_inner>li:first-child>a, .size_inner>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.product_page .btn_cart {
    background-color: #cd0000 !important;
    border-color: #cd0000;
    border-radius: 0;
    font-size: 1.2rem;
    width: 180px;
    font-family: adobe caslon,serif;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product_details_wrapper {
    padding-bottom: 30px;
}
.product_details_wrapper .details_inner h2 {
    font-family: plume;
    text-transform: capitalize;
    color: #003366;
    font-size: 2.4rem;
    font-style: italic;
}
.product_details_wrapper .details_inner p {
    font-family: plume;
    font-weight: 400;
    color: #000;
}

.product_description_1{
    font-family: plume !important;
    font-weight: 400 !important;
}
.product_details_wrapper .shoe_desc {
    padding-top: 50px;
}
.product_details_wrapper h2.sub_desc_heading {
    font-size: 2.8rem;
    font-weight: 500;
    /*color: grey;*/
}
.product_details_wrapper .shoe_desc p {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: gray;
}
.product_details_wrapper .shoe_desc span {
    color: grey;
}
.size_box_main {
    padding-top: 0px;
}
.size_txtbox_wrapper {
    width: 18%;
    display: inline-block;
    margin-right: 8px;
}
.size_txtbox label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: gray;
}
.size_txtbox input {
    border: 1px solid #b7b4b4;
    height: 30px;
    width: 100%;
    text-align:center;
}
/*.price-disc{
    margin-left: 1em;
}*/
h4{
    color:#003366 !important;
}

.panel-info>.panel-heading {
    color: white !important;
    background-color: #003366 !important;
    border-color: #003366;
}


ul.wizard li.text-primary{
    background: white !important;
    color: #003366 !important;
}
ul.wizard li.text-primary .chevron:before{
    border-left: 10px solid white !important;
}
body .text-success{
    color:white !important;
}
ul.wizard li{
        line-height: 39px !important;
        /*border: 1px solid #d4d4d4 !important;*/
        color:white !important;
        background: #003366 !important;
}
ul.wizard li .chevron:before{
    border-left: 10px solid #003366 !important;
}
.panel-info{
    border-color: #003366 !important;
}
.thanks_msg h2{
    color: #003366 !important;
}
h1.mb32{
    color: #003366 !important;
}
h3 strong{
    color: #003366 !i	mportant;
}
h3.page-header{
    color: #003366 !important;
}

#product_confirmation td strong,#product_confirmation td span,td span{
  color: #003366 !important;
  margin-top:29px !important;
  font-size: 26px !important;
  font-weight: 100;
}
strong, b{
    color: #003366 !important;
    font-size: 20px !important;
}
.my_cart_quantity{
    top: -1.5em;
    font-size: 45%;
    border-radius: 1.00em;
    margin-left: -11px;
}
.header_top .header_offer .carousel-control.right{
    display: none !important;
}
.header_top .header_offer .carousel-control.left{
    display: none !important;
}
/*------------------- product page end------------------*/

.oe_price,.oe_currency_value,.js_quantity {
    font-size:18px;
}
.wishlist-cart-button{
    color:white !important;
}
.wishlist-cart-button:hover{
    color:#003366 !important;
}
/* N */
.custom_container{
    width: 100%;
    padding: 0px;
}
.n_sub_categ_image {
    width: 100%;
}
.extra{
        margin: 110px 0px 0 0 !important;
    }

.input-group-addon{
    color:white !important;
    background-color: #003366 !important;
}

@media (min-width:320px) {
    .header_offer{
        text-align: center;
        width: 100%;
        margin-left: 0%;
        padding-bottom: 10px;
    }
    .product_image_change{
        position: absolute;
    }
    .product_name_change a,.pname,.product_name_changes{
        position: relative;
        padding-left:75px;
    }
    .pname{
        margin-bottom: 40px;
    }
    .product_name_change{
        margin-bottom: 15px;
    }
    ul.wizard {
            padding: 0px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    }
    .extra{
        margin: 110px 0px 0 0 !important;
    }
    .page-header {
        margin: 10px 0px 0 0px !important;
    }
    .oe_cart{
        margin-top: 70px !important;
    }
    .oe_price, .oe_currency_value, .js_quantity{
            font-size: 20px;
    }
}
@media (min-width:481px) {
    .header_offer{
        text-align: center;
        width: 100%;
        margin-left: 0%;
        padding-bottom: 10px;
    }
    .product_image_change{
        position: absolute;
    }
    .product_name_change a,.pname,.product_name_changes{
        position: relative;
        padding-left:75px;
    }
    .product_name_change{
        margin-bottom: 15px;
    }
    .pname{
        margin-bottom: 40px;
    }
    ul.wizard {
            padding: 0px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    }
    .extra{
        margin: 110px 0px 0 0 !important;
    }
    .page-header {
        margin: 53px 0px 0 0px !important;
    }
    .oe_cart{
        margin-top: 70px !important;
    }
    .oe_price, .oe_currency_value, .js_quantity{
            font-size: 20px;
    }
}
@media (min-width:641px) {
    .header_offer{
        text-align: center;
        width: 50%;
        margin-left: 25%;
        padding-bottom: 10px;
    }
    .product_image_change{
        position: absolute;
    }
    .product_name_change a,.pname,.product_name_changes{
        position: relative;
        padding-left:75px;
    }
    .product_name_change{
        margin-bottom: 15px;
    }
    .pname{
        margin-bottom: 40px;
    }
    ul.wizard {
            padding: 0px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    }
    .oe_cart{
        margin-top: 0px !important;
    }
    .extra{
        margin: 110px 0px 0 0 !important;
    }
    .page-header {
        margin: 53px 0px 0 0px !important;
    }
    .oe_price, .oe_currency_value, .js_quantity{
            font-size: 18px;
    }
}
@media (min-width:961px){
    .header_offer{
        text-align: center;
        width: 50%;
        margin-left: 25%;
        padding-bottom: 0px;
    }
    .product_image_change{
        position: none;

    }
    .product_name_change a,.pname,.product_name_changes{
        position: none;
        padding-left:0px;
    }
    .pname{
        margin-bottom: 0px;
    }
    .product_name_change{
        margin-bottom: 0px;
    }
    ul.wizard {
            padding: 0 0 0% 35%;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    }
    .oe_cart{
        margin-top: 0px !important;
    }
    .oe_price, .oe_currency_value, .js_quantity{
            font-size: 18px;
    }
}
@media (min-width:1025px) {
    .header_offer{
        text-align: center;
        width: 50%;
        margin-left: 25%;
        padding-bottom: 0px;
    }
    .product_image_change{
        position: none;

    }
    .product_name_change a,.pname,.product_name_changes{
        position: none;
        padding-left:0px;
    }
    .pname{
        margin-bottom: 0px;
    }
    .product_name_change{
        margin-bottom: 0px;
    }
    ul.wizard {
            padding: 0 0 0% 35%;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    }
    .oe_cart{
        margin-top: 0px !important;
    }
    .oe_price, .oe_currency_value, .js_quantity{
            font-size: 18px;
    }
}
@media (min-width:1281px) {
    .oe_price, .oe_currency_value, .js_quantity{
            font-size: 18px;
    }
    .header_offer{
        text-align: center;
        width: 50%;
        margin-left: 25%;
        padding-bottom: 0px;
    }
    .product_image_change{
        position: none;

    }


    .pname{
        margin-bottom: 0px;
    }
    .product_name_change a,.pname,.product_name_changes{
        position: none;
        padding-left:0px;
    }
    .product_name_change{
        margin-bottom: 0px;
    }
    ul.wizard {
            padding: 0 0 0% 35%;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065) !important;
    }
    .oe_cart{
        margin-top: 0px !important;
    }
}

@media(max-width: 500px){

    .oe_cart table td:first-child, #modal_optional_products table td:first-child {
            display: block !important;
            text-align: left!important;
    }
    #product_confirmation td:first-child span img{
            width: 100%;
    }

    #modal_optional_products table tr{
            float: left !important;
            display: inline-block !important;
    }
    .confirmed tbody tr td:last-child,.confirmed tbody tr td:nth-last-child(2){
        height: 14px !important;
        border-top-width: 1px !important;
    }
    /*.oe_cart .confirmed td:first-child{
            display: block !important;
            text-align: left!important;
            /*width: auto !important;*/
}
    /*.oe_cart .confirmed td:last-child, .oe_cart .confirmed td:nth-last-child(2){
        width: 100% !important;
    }
    .oe_cart .confirmed td:nth-child(2){
        width: 100% !important;
    }
    .oe_cart table td:last-child, .oe_cart table td:nth-last-child(2), #modal_optional_products table td:last-child, #modal_optional_products table td:nth-last-child(2){
            width: 38% !important;
            height: 46px;
            text-align: center;
    }
    .oe_cart table td:nth-child(2), #modal_optional_products table td:nth-child(2) {
        border-top-style: double;
        width: 77% !important;
        border-top-width: 1px !important;
    }*/
   /* .oe_cart table tr{
            width: auto !important;
    }
*/

