.section_title > hr{
    margin-top: 12px !important;
    margin-bottom: 7px !important;

}
pro_color.custom_mobile_categ_img {
    display: none;
}

.angle_arrow_button {
    display: none;
}

.pro_color {
    font-size: 2.0rem;
    font-style: italic;
    font-weight: 100;
}

.o_connected_user {
    background-color: #fff !important;
}

.image_icon {
    max-width: 29px;
    /* max-height:20px ;*/
    margin-left: 52px;
}

.p_price {
    float: right!important;
    margin-top: 5px;
}

.shoe_desc {
    text-align: left !important;
}

.nav-stacked>li {
    text-align: left !important;
}

.oe_website_sale ul ul {
    margin-left: 0 !important;
    text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .parallax_image_text1 {
        top: -88 !important;
    }
    .xzoom {
        width: 100% !important;
        height: auto !important;
        margin-top: 50px!important;
        margin-left: 0px;
    }
    .mobileShow {
        display: block;
    }
    .mySlides {
        display: none;
    }
    .image_icon {
        max-width: 29px;
        max-height: 30px;
        /*margin-left: 58px ;*/
    }
    /*hide image slider - product page*/
    /* .mobileShow{
        display:none ! important;
}*/
    .shoe_desc {
        text-align: left !important;
    }
}

.bg_color {
    /*background-color:white;

margin-top:88px;*/
    border: 1px solid #3333;
    margin-top: 16px;
    width: 49.5%;
    height: 413px;
}

.bread {
    padding-left: 0!important;
    padding-right: 0!important;
}

.mySlides {
    width: 162px;
    height: 162px;
    border: 1px solid #3333;
}

.mySlides img {
    margin-top: 15%;
}

@media screen and (max-width: 321px) {
    #add_to_cart {
        margin: 0 20%;
    }
}

.bg_color {
    margin-top: 16px;
}

#add_to_cart {
    margin-top: 30px !important;
}

element.style {}

@media (max-width: 767px) img:not(.cke_iframe),
.media_iframe_video,
span.fa,
i.fa {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .mobile_box {
        display: none ! important;
    }
    .mobileShow {
        margin-top: -18px;
    }
    /* .image_icon {
        max-width: 27px!important;
        max-height: 27px!important;
    } */
    .rec {
        height: 215px;
    }
}

@media screen and (min-width: 767px) {
    .page_margin {
        margin-left: -30px!important;
        margin-right: 0px!important;
    }
}

.p_price span {
    margin-top: -29px!important;
}

.image_custom {
    border: 1px solid #3333;
    padding: 1px;
}

#carousel-custom {
    left: -5px;
}

#add_to_cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.border_black {
    margin-top: 2px;
    border: 1px solid #3333;
    padding-left;
}

.mobile_box {
    display: none;
}

.c_product_title {
    text-transform: capitalize!important;
}

.details_inner {
    margin-bottom: 8px;
}

.bg_color {
    position: relative!important;
}

.text-danger {
    text-decoration: line-through;
}

.c_product_details .price {
    top: 0%!important;
}

/*.snippet_testimonial .text-center{

    width: 100% !important;
    padding: 0px! important;
}*/
.simple-subscription-form{

    width: 960px;
    margin-left: 5px;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
.simple-subscription-form{
    width: auto;
    margin-left:5px;
    margin-right:5px;
}
}
@media (max-width: 568px){

.size_hide {

    font-weight: 100;
    font-size:22px !important;
}
.pro_color_2{
    font-style: italic;
    font-weight: 100;
    margin-left: 76px  !important;
    color: #013365 !important;
    }
.pro_color_1 {
    font-style: italic;
    font-weight: 100;
    color: #013365 !important;
    font-family: plume;
    }

.pro_size {
    margin-left: 74px;
    color: #163466 !important;
    font-family: plume;
}
.size_label {

	margin-top: -10px;
}

.js_cart_lines strong{
    margin-left: 75px;
}



.o_default_snippet_text{

    font-size: 22px ! important;
}
	#product_detail{
	    margin-top: 160px !important;


	}
}

#product_detail .breadcrumb {
    padding: 8px 0px !important;
    margin-bottom: -5px !important;
    /*margin-top: -29px !important;*/
}

@media screen and (min-width: 767px) and (max-width: 1700px) {

.oe_login_form,.oe_signup_form{
    margin-top: -28% ! important;

}
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    z-index: 1;
}

.product_size {
    margin-left: -0px !important;

}
.pro_color{
    color: #013365 !important;
    }







/* hide company and vat */

.checkout_autoformat .div_vat{

 display: none !important;

}

.checkout_autoformat .form-group> label[for="company_name"] {

 display:none;

}
.checkout_autoformat .form-group> input[name="company_name"] {

 display:none;

}

/* Font Plume and blue for field names */
.checkout_autoformat .control-label {

 color: #0f3366;
	font-family: plume !important;
        font-weight: bold;
}


/*modal custom class added for td*/

.center_align {

 text-align: center ! important;
}

.modal-lg .table-condensed .js_product .oe_price {

 font-weight: 700;

}


/*review order left align*/
.custom_status_bar{

 margin-left: -496px;
}





/*filter style*/
.hr_filter {

    border-bottom: solid 1px rgba(0,0,0,.15);
    margin-bottom: -12px;
    width: 1000px;
}


.filter_header {

    background-color: #f5f5f4;
    width: 90px;
    text-align: center;
    display: inline-block;
}

ul.size_wrapper li {
    padding-right: 0px !important;

}



/*modal responsive issue*/
@media (max-width: 500px){
/*filter style*/

    .custom_status_bar{

            margin-left: 0px;
    }


    modal-content{
        margin-top:25% !important;
        width: 300px !important;
        height: 500px !important;
        left: 50 !important;
        position: relative !important;
    }
}



@media (min-width: 360px) and (max-width: 360px), (min-height: 640px) and (max-height: 640px){
    .custom_status_bar {
        margin-left: 3px;

    }

   .name_align {

    margin-top: -22px;

}
   .modal-content {

        margin-top: 20%;
        height: auto;
	margin-left: 37px;
        width: 81%;
    }
    .modal-footer {
        margin-top: 16px;

   }

}
@media (min-width: 360px) and (max-width: 360px), (min-height: 740px) and (max-height: 740px){
    .custom_status_bar {
        margin-left: 3px;

    }

    .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 38px;
        width: 81%;
    }
    .name_align {

	margin-top: -22px;
	}
    .modal-footer {
        margin-top: 20px;

   }

}

@media (min-width: 320px) and (max-width: 320px){
    .custom_status_bar {
        margin-left: 3px;

    }
    .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 28px;
        width: 81%;
    }
    .modal-footer {
        margin-top: 12px;

   }

}

@media (min-width: 320px) and (max-width: 320px), (min-height: 568px) and (max-height: 568px){

	.modal-content {
	    margin-top: 20%;
	    height: auto;
	    margin-left: 28px;
	    width: 81%;
	}

    .modal-footer {
        margin-top: 8px;

   }

    .name_align {

        margin-top: -22px !important;
	}

	#product_confirmation td strong {

	    font-size: 20px !important;
	}
	#product_confirmation td span, td span {
	    font-size: 22px !important;
	}


	#top_menu>li>a {
	    font-size: 25px !important;
	}


	}

@media (min-width: 411px) and (max-width: 411px), (min-height: 640px) and (max-height: 640px){
    .custom_status_bar {
        margin-left: 0px;

    }
    .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 40px;
        width: 81%;
    }
    .modal-footer {
        margin-top: 12px;

   }


}

@media (min-width: 411px) and (max-width: 411px), (min-height: 731px) and (max-height: 731px){

    .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 40px;
        width: 81%;
    }
    .modal-footer {
        margin-top: 20px;

   }
   .name_align {

    margin-top: -17px;

}
   .icon_search {

	margin-left: 10px !important;
   }

}
@media (min-width: 411px) and (max-width: 411px), (min-height: 823px) and (max-height: 823px){

    .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 40px;
        width: 81%;
    }
    .modal-footer {
        margin-top: 23px;

   }

   .name_align {

    margin-top: -19px;

}
}

@media (min-width: 411px) and (max-width: 411px), (min-height: 811px) and (max-height: 811px){

    .modal-content {

        margin-top:20%;
        height: auto;
        margin-left: 40px;
        width: 81%;
    }
}
@media (min-width: 414px) and (max-width: 414px), (min-height: 736px) and (max-height: 736px){
    .custom_status_bar {
        margin-left: 25px;

    }
    .modal-footer {
        margin-top: 20px;

   }
    .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 40px;
        width: 80%;

    }
    .name_align {
	margin-top:-21px !important;

	}
}

@media (min-width: 375px) and (max-width: 375px), (min-height: 812px) and (max-height: 812px){
    .custom_status_bar {
        margin-left: 10px;

    }
     .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 26px;
        width: 85%;
    }

    .modal-footer {
        margin-top: 25px;

   }

}

@media (min-width: 375px) and (max-width: 375px), (min-height: 667px) and (max-height: 667px){
    .custom_status_bar {
        margin-left: 10px;

    }
     .modal-content {

        margin-top: 20%;
        height: auto;
        margin-left: 26px;
        width: 85%;
    }

    .modal-footer {
        margin-top: 23px;

   }

    .name_align {

	margin-top:-6% !important;
	}
}

@media (min-width: 768px) and (max-width: 768px), (min-height: 1024px) and (max-height: 1024px){
    .custom_status_bar {
        margin-left: 6px;

    }
    .modal-footer {
        margin-top: 12px;

   }

    .modal-content {

        margin-top: 50%;
    }
	.name_align{
	    margin-top:-20px;
	}
#product_details {
    z-index: 0 !important;
    margin-left: 25%;
}


}
@media (min-width: 1024px) and (max-width: 1024px){

    .modal-content {

        margin-top: 40%;
    }
   .name_align{
	   margin-top:-20px;

	}

}

    /*
@media screen and (min-width: 770px) and (max-width: 1700px) {

    .modal-content{
        margin-top: 25% !important;
    }

}
    */

@media screen and (min-width: 768px){

/*
  .modal-content{
        margin-top: 25% !important;
    }
*/
    .my_cart_quantity {
    /*
        top: -1.5em;
    */
        top: -3em !important;
        left: 3px;
        font-size: 55%;
        border-radius: 1.00em;
    /*
        margin-left: -11px;
    */
    }
}



.hidden-xs > .img-rounded{
    width:80px;
}
.hidden-lg > .img-rounded{
    width:80px;
     margin-left: -9px;
    margin-top: -9px;
}




.js_cart_lines{
    font-size: 21px;
    font-family: plume !important;
}

#cart_total {
    font-size: 21px;
    font-family: plume !important
}
#cart_products .cart_total{
    font-size: 21px;
    font-family: plume !important

}


   .name_align h1{

    display: -none;
    border-top: none!important;
}

.modal-footer{
	text-align:left !important;
	border-top:
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{

	border-top: none!important;

}
.name_align {
	text-align:left!important;
}

@media screen and (min-width: 768px){
.pro_size {

    color: #163466 !important;
    text-align: center;
    font-family: plume;
	}

.delete_custom {

    top: 6px;
    margin-left: 18px;
    font-size: 15px;

}
.size_label {

	display: none !important;
}

}

.pro_color_2{
    font-family: plume;
    color: #013365 !important;
    font-style: italic;
    font-weight: 100;
    }
.pro_color_1 {
    color: #013365 !important;
    font-family: plume;
    font-style: italic;
    font-weight: 100;
    }

.size_custom {

    color: #013365 !important;
    font-family: plume;
}
.table-striped>thead>tr>th:nth-child(3) {
    text-align: right
}

/*
@media screen and (min-width: 300px) and (max-width: 767px){
    .js_get_store {

	 position: relative;
         padding-left: 5px;
	 padding-right: 5px;

    }
    .simple-subscription-form .input-group-field{

        margin-top: 15px;
        margin-bottom: 15px;
    }

 }

@media screen and (min-width: 800px){
    .js_get_store {

        width: 968px;

    }

 }

*/

.custom_newsletter {

        margin-top: 15px !important;

}

#carousel-custom .carousel-indicators {


        overflow: hidden !important;

}

@media screen and (max-width: 768px){
	.menu_inner_area, .header_offer , .header_top {
		position:absolute !important;

        }

	html,body {

	overflow-x: hidden;

       }

}

