.parallax_box{

	margin-top:10px;
}

.parallax_bg{
    transition: initial;
    background-size:cover;
    background-position:center;
   background-attachment:fixed;
    height:50vh !important;
    background-repeat: no-repeat;

}
.mobile_parallax_bg{
    display: none!important;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
.parallax_box{

	margin-top:10px;
}
.parallax_bg{
    display:none!important;
}

.mobile_parallax_bg{
        transition: initial;
    background-size:100% 100%;
    background-position:center;
   background-attachment:scroll;
    height:50vh !important;
    background-repeat: no-repeat;
}
.mobile_parallax_bg{
    display: block!important;
}
}
