/*@media (min-width: 1281px) {
    .gallery_center_image img {.product_details_wrapper .details_inner p
        height: 480px;
        margin-bottom: 10px;
    }
}*/






.single_categ a {
    line-height: 86px!important;
}

.category_main_banner {
    margin-bottom: 0 !important;
}

@media (min-width: 1366px) {
    header a.navbar-brand img {
        margin-top: -28px;
    }
    .homepage header a.navbar-brand img {
        margin-top: 9px ;
    }
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-bottom: -15px;
        margin-top: -20px;
    }
}

@media (max-width: 1366px) {
    .products_pager {
        margin-top: -6% !important;
    }

    .category_main_banner {
        margin-top: 3%;
    }
    /*.filter_categ_wrapper {margin-top: -11%;}*/
}

/*@media screen and (max-width: 1281px) and (min-width: 800x) {
       header a.navbar-brand img{
	margin-top: -32px;
}
.homepage .navbar-nav{
margin: -18px !important;

}
}*/


@media only screen and (min-width: 1030px) and (max-width: 1366px)  {

       header a.navbar-brand img{
	margin-top: -28px;
	}
	.homepage .navbar-nav{
	margin: -18px !important;

	}
    }

@media (min-width: 992px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .header_top .header_offer .carousel-control.left {
        left: 30%;
    }
    .header_top .header_offer .carousel-control.right {
        right: 30%;
    }
    /*.wish_list_wrapper {margin-top: 3%;}*/
    .products_pager {
        margin-top: -8% !important;
    }
    /*.category_main_banner {margin-top: -9%;}*/
    main .oe_website_login_container {
        margin-top: 15% !important;
    }
    .filter_categ_wrapper {
        margin-top: -12%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
       header a.navbar-brand img{
	margin-top: -28px;
}
.homepage .navbar-nav{
margin: -18px !important;

}
}






.single_categ a {
    line-height: 42px!important;
}

@media (max-width: 991px) {
    header .header_top .header_top_right {
        margin-top: -25px !important;
    }
}

@media (max-width: 991px) {
    .homepage .navbar {
        min-height: 72px;
    }
    .homepage .header .header_top .header_top_right {
        margin: -25px 10px 0 0px;
    }
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-top: -13px;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 14px;
        height: 40px;
    }
    .single_categ a {
        line-height: 38px!important;
    }
    .header_top .header_offer .carousel-control.left {
        left: 25%;
    }
    .header_top .header_offer .carousel-control.right {
        right: 25%;
    }
    header .header_top .header_top_right {
        margin-right: 20px;
    }
    .carousel-fade .carousel-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .carousel-fade .carousel-content h4 {
        font-size: 18px;
    }
    .indicators-line>.carousel-indicators {
        right: 45%;
    }
    .product_details h5.product_title {
        font-size: 24px;
    }
    .product_details .address p,
    .product_details .open_hours p {
        font-size: 14px;
    }
    .footer .col-lg-3:nth-child(3) {
        margin-top: 15px;
    }
    .footer .col-lg-3:nth-child(4) {
        margin-top: 15px;
    }
    .products_pager {
        margin-top: -9% !important;
    }
    .c_product_details .c_product_title a {
        font-size: 24px;
    }
    .c_product_details .price {
        font-size: 16px;
    }
    .category_main_banner {
        margin-top: 4%;
    }
    main .oe_website_login_container {
        margin-top: 20% !important;
    }
    .filter_categ_wrapper {
        margin-top: -14%;
    }
    .section_title > hr{
	margin-top: 12px !important;
    	margin-bottom: 13px !important;
    }
}




@media (max-width: 767px) {
    .single_categ a {
        line-height: 38px!important;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 58px;
        height: 71px;
    }
    .header_top .promo_wrapper {
        margin-top: 48px;
    }
    .menu_inner_area .navbar.navbar-default .navbar-header {
        height: 100%;
    }
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand {
        line-height: 60px;
        min-height: 65px;
        padding: 0px 0px 0px 0;
    }
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {
        width: 100%;
        margin-top: 0;
    }
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav {
        width: 84%;
    }
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {
        display: block;
        text-align: left;
        font-size: 25px !important;
    }
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {
        vertical-align: text-top;
    }
    header .menu_inner_area {
        margin-top: 0px;
        padding: 0px 0;
    }
    /*.main_slider_inner .bs-slider {height: 60vh;}
    .main_slider_inner .bs-slider > .carousel-inner > .item {height: 60vh;}*/
    .section_title p {
        font-size: 2.4rem !important;
    }
    .header_top {
        padding-bottom: 0px;
    }
    header .header_top {
        background: #052a3a;
    }
    .top_right_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .header_top .header_offer .carousel-control.left {
        left: 20%;
    }
    .header_top .header_offer .carousel-control.right {
        right: 20%;
    }
    header .header_top .header_top_right {
        margin-right: 0px;
        text-align: center;
        width: 100%;
        padding: 20px 34px 9px 0px;
        background: grey;
        margin-top: -87px;
    }
  /*  .header_top_right .search_icon,*/
    .header_top_right .wishlist,
    .header_top_right .cart_icon,
    .header_top_right .map_icon,
    .header_top_right .chat_icon,
    .header_top_right .login_icon {
        float: none;
        display: inline-block;
    }
    .header_top_right .login_icon a i {
        margin-top: -2px;
    }
    .hero {
        top: 60%;
    }
    .carousel-fade .carousel-content h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .carousel-fade .carousel-content h4 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .bs-slider>.carousel-inner>.item img {
        margin: auto;
        height: 100vh;
        margin: auto;
        width: 100% !important;
        height: 100vh;
        object-fit: cover;
        padding-top: 56px;
        bottom: 0;
        top: 20%;
    }
    .indicators-line>.carousel-indicators {
        right: 44%;
    }
    .remove_767 {
        display: none !important;
    }
    .display_767 {
        display: block !important;
    }
    .product_details h5.product_title {
        font-size: 16px;
    }
    .product_details {
        margin: 30px 0 30px 0;
    }
    ul.connect_us_inner li {
        margin: 0 12px;
    }
    footer .footer_logo {
        margin: 3em 0;
    }
    .footer ul.footer_inner li {
        word-wrap: break-word;
    }
    .footer .col-lg-3:nth-child(3) {
        margin-top: 15px;
    }
    .footer .col-lg-3:nth-child(4) {
        margin-top: 15px;
    }
    .hero .row {
        padding: 10px 30px;
    }
    /*.category_main_banner {padding-top: 1.5%;}*/
    .c_product_details .c_product_title a {
        font-size: 16px;
    }
    .c_product_details .price {
        font-size: 14px;
    }
    .shoe_product_wrapper span img.categ_image {
        margin-bottom: 40px;
    }
    /*.wish_list_wrapper {margin-top: 18%;}*/
    .category_main_banner {
        margin-top: 11%;
    }
    .products_pager {
        margin-top: -10% !important;
    }
    main .oe_website_login_container {
        margin-top: 31% !important;
    }
    .product_page {
        padding-top: 30px;
    }
    .filter_categ_wrapper {
        margin-top: -24%;
    }
}

@media (max-width: 650px) {
    .wish_list_wrapper {
        margin-top: 38%;
    }
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-top: 38px;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 51px;
        height: 71px;
    }
    .header_top .header_offer .carousel-control.left {
        left: 15%;
    }
    .header_top .header_offer .carousel-control.right {
        right: 15%;
    }
    .menu_inner_area .navbar.navbar-default .navbar-header {
        width: 20%;
    }
    .menu_inner_area .navbar.navbar-default .custom_center_nav {
        text-align: left;
        width: 81%;
        display: inline-block;
        float: none;
    }
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav {
        width: 100%;
        text-align: center;
        /*margin-left: 10px;*/
    }
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav li {
        margin-right: 15px;
    }
    .navbar-nav {
        margin: 3.5px -11px -8px -46px !important;
        /*margin: -15.5px -11px -8px -15px !important;*/
    }
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {
        margin-top: 30px;
        vertical-align: text-top;
    }
    .homepage .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {
        margin-top: 24px;
        vertical-align: text-top;
    }
    /*.bs-slider > .carousel-inner > .item img {height: auto; padding-top: 8em;}*/
    .indicators-line>.carousel-indicators {
        right: 42%;
    }
    .categ_image {
        height: 200px;
    }
    .category_main_banner {
        margin-top: 37%;
    }
    .products_pager {
        margin-top: -10% !important;
    }
    .c_product_inner ul.cart_icon {
        right: 12px;
        bottom: 0px;
    }
    .c_product_inner ul.cart_icon li {
        font-size: 16px;
    }
    main .oe_website_login_container {
        margin-top: 38% !important;
    }
    .size_txtbox_wrapper {
        width: 25%;
    }
    .filter_categ_wrapper {
        margin-top: -28%;
    }
    .hero {
        top: 55%;
    }
    .hero .row {
        padding: 10px 10px;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 58px;
        height: 71px;
    }
}

@media (max-width: 530px) {
    /*.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {line-height: 40px;}*/
    main .oe_website_login_container {
        margin-top: 40% !important;
    }
    .filter_categ_wrapper {
        margin-top: -35%;
    }
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-top: 55px;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 51px;
        height: 71px;
    }
    header .header_top .header_top_right {
        padding: 23px 34px 9px 0px;
    }
    .single_categ a {
        line-height: 86px!important;
    }
}

@media (max-width: 500px) {
    .header_top .header_offer .carousel-control.left {
        left: 10%;
    }
    .header_top .header_offer .carousel-control.right {
        right: 10%;
    }
    /*.bs-slider > .carousel-inner > .item img {padding-top: 17em;}*/
    .product_inner {
        width: 100%;
        margin: 0 auto;
    }
    .carousel-fade .carousel-content h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .carousel-fade .carousel-content h4 {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .indicators-line>.carousel-indicators {
        right: 39%;
    }
    .search_btn_wrapper input[type=text] {
        width: auto !important;
    }
    .products_pager {
        margin-top: 7% !important;
    }
    /*.categ_image {height: 170px;}*/
    main .oe_website_login_container {
        margin-top: 44% !important;
    }
    .size_txtbox_wrapper {
        width: 22%;
    }
    .filter_categ_wrapper {
        margin-top: -38%;
    }
    .oe_cart table td:nth-child(2),
    #modal_optional_products table td:nth-child(2) {

        .menu_inner_area .navbar.navbar-default {
            margin-top: 58px;
            height: 71px;
        }
    }
}

@media (max-width: 450px) {
    ul.connect_us_inner li {
        margin: 0 5px;
    }
    .connect_us_inner img {
        height: 30px;
        width: 30px;
    }
    .shoe_product_wrapper span img.categ_image {
        margin-bottom: 0;
    }
    main .oe_website_login_container {
        margin-top: 52% !important;
    }
    .category_main_banner {
        margin-top: 46%;
    }
    .filter_categ_wrapper {
        margin-top: -42%;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 52px;
        height: 71px;
    }
}

@media (max-width: 400px) {
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-top: 59px;
    }
    .bs-slider {
        height: 100vh;
    }
    main .oe_website_login_container {
        margin-top: 58% !important;
    }
    .size_txtbox_wrapper {
        width: 45%;
    }
    .category_main_banner {
        margin-top: 51%;
    }
    .filter_categ_wrapper {
        margin-top: -47%;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 55px;
        height: 71px;
    }
    header .header_top .header_top_right {
        padding: 20px 34px 9px 0px;
    }
    .single_categ a {
        line-height: 86px!important;
    }
}

@media (max-width: 360px) {
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-top: 61px;
    }
    main .oe_website_login_container {
        margin-top: 52% !important;
    }
    .category_main_banner {
        margin-top: 57%;
    }
    .filter_categ_wrapper {
        margin-top: -52%;
    }
}

@media (max-width: 320px) {
    .homepage .menu_inner_area .navbar.navbar-default {
        margin-top: 66px;
    }
    .menu_inner_area .navbar.navbar-default .custom_center_nav {
        width: 82% !important;
    }
    .menu_inner_area .navbar.navbar-default {
        margin-top: 62px;
    }
    header .header_top .header_top_right {
        padding: 18px 34px 9px 0px;
    }
    .navbar-nav {
        margin: 3.5px -11px -8px -15px !important;
    }
}
