.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}

.simple-subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
}

@font-face {
    font-family: BEBAS;
    src: url('../fonts/BEBAS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Great Vibes;
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Trade Gothic LT;
    src: url('../fonts/Trade Gothic LT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Trade Gothic LT Bold;
    src: url('../fonts/Trade Gothic LT Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: acaslonpro-regular;
    src: url('../fonts/acaslonpro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*.pagination {
    display: inherit;
}*/

/* #wrap{
    border-top: 1px solid black;
    //padding-top: 20px !important;
} */
.btn-primary{
        background-color: #003366 !important;
}
/*main .oe_website_sale{
    margin-top: 12% !important;
}*/
.single_categ > a{
    font-size: 33px !important;
}

main .oe_website_login_container{
    margin-top: 13% !important;
}
img {
    max-width: 100%;
    height: auto;
}
strong, b {
    color: #424242;
}
#myModalLabel{
    color:#003366;
    font-style: normal;
}
body {
    /*font: 400 14px/24px "Open Sans", sans-serif !important;*/
    font-family: adobe caslon,serif !important;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -.2px;
}
h1, h2, h3, h4, h5, h6 {
    color: #424242;
    margin: 0 0 20px;
    font-weight: 700;
    text-transform: uppercase;
}



.left_submenu1 ul ul{ padding-left: 0px; }
.left_submenu1 ul ul li{ display: block; }

header {
    background: #000;
    margin-bottom: 0px;
}
.header_top {
    padding-top: 14px;
    padding-bottom: 7px;
    color: #fff;
    background: #052a3a;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    position: fixed;
    width: 100%;
}
.header_top .promo_wrapper {
    /*position: absolute;*/
    width: 100%;
    z-index: -1;
}
.header_offer {
    text-align: center;
    width:50%;
    /*margin-left:25%;*/
}
.header_top .header_offer label {
    margin-bottom: 0;
    font-size: 1.4rem;
    color: #fff;
    font-family: adobe caslon,serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_offer .text-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.text-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.text-fade .carousel-inner .item.active {
  opacity: 1;
}
.text-fade .carousel-inner .active.left,
.text-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.text-fade .carousel-inner .next.left,
.text-fade .carousel-inner .prev.right {
  opacity: 1;
}
.text-fade .carousel-control {
  z-index: 2;
}
.header_offer .text-fade .carousel-inner .item .label {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.header_offer .text-fade .carousel-inner .item.active .label {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

.header_top .header_offer .carousel-control.left {
    left: 35%;
    background-image: none;
    opacity: 1;
    top: -5px;
    width:1%;
    display: none;
}
.header_top .header_offer .carousel-control.right {
    right: 35%;
    background-image: none;
    opacity: 1;
    top: -5px;
    width:1%;
    display: none;
}
header .header_top .header_top_right {
    float: right;
    display: block;
    color: #fff;
    /*margin-right: 40px;*/
    margin: -15px 10px 0 0px;
    padding-bottom: 1px;
}
header .header_top .header_top_right a {
    color: #fff;
    font-size: 18px;
}

.header_top_right .login_icon {
    float: left;
    margin-left: 15px;
    vertical-align: middle;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 0px;
}

@media screen and (max-width: 320px) and (max-height: 568px) {
	.header_top_right .login_icon {
    float: left;
    margin-left: 6px;
    vertical-align: middle;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 0px;
	}
}


.header_top_right .login_icon ul.dropdown-menu li a {
    color: #000;
}
.header_top_right .login_icon a:hover {
    text-decoration: none;
}
.header_top_right .wishlist{
    float: left;
    margin-left: 15px;
}
@media screen and (max-width: 320px) and (max-height: 568px) {
	.header_top_right .wishlist{
    float: left;
    margin-left: 15px;
	}
}

.header_top_right .wishlist a {
    font-size: 16px !important;
}
.header_top_right .search_icon{
    float: left;
    margin-left: 18px;
}
@media screen and (max-width: 320px) and (max-height: 568px) {

	.header_top_right .search_icon {
	    float: left;
	    margin-left: 18px;
}
}



.header_top_right .search_icon_close{
    float: left;
    margin-left: 18px;
}


.header_top_right .cart_icon {
    float: left;
    margin-left: 15px;
}
@media screen and (max-width: 320px) and (max-height: 568px) {

	.header_top_right .cart_icon {
	    float: left;
	    margin-left: 5px;
	}
}



.header_top_right .map_icon {
    float: left;
    margin-left: 15px;
}

@media screen and (max-width: 320px) and (max-height: 568px) {

	.header_top_right .map_icon {

	    margin-left: 4px;
	}
}


.header_top_right .chat_icon {
    float: left;
    margin-left: 15px;
}

@media screen and (max-width: 320px) and (max-height: 568px) {

	.header_top_right .chat_icon {

	    margin-left: -21px;
	}
}

header .menu_inner_area {
    position: fixed;
    left: 0px;
    width: 100%;
    margin-top: 39px;
    z-index: 25;
    background: #ffffff;
    opacity: 1;
    border-bottom: 1px solid #dedede;
}
.menu_inner_area .navbar.navbar-default {
    background: transparent;
}
.menu_inner_area .navbar.navbar-default {
    margin-bottom: 0px;
    border-radius: 3px;
    border: none;
    background: transparent;
    text-align: right;
    opacity: 1.6;
}
.menu_inner_area .navbar.navbar-default .navbar-header .navbar-toggle {
    margin-right: 0px;
}
.menu_inner_area .navbar.navbar-default .navbar-header {
    position: absolute;
}
.navbar-default .navbar-toggle {
    padding: 0px;
    border: 0px;
    margin-top: 26px;
    margin-bottom: 25px;
}
.menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand {
    padding: 0px 30px 0px 0;
    background: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    min-height: 86px;
    position: relative;
    line-height: 80px;
}
.menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {
    display: inline-block;
    opacity: 1.1;
}
.menu_inner_area .navbar.navbar-default .custom_center_nav {
    text-align: center;
    width: 100%;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav {
    float: none;
    display: inline-block;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li {
    float: none;
    margin-right: 15px;
    display: inline-block;
    padding-top: 2px;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li:last-child {
    margin-right: 0px;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li.single_categ {
    margin-right: 60px;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li.active a {
    color: #cd0000;
    text-transform: uppercase;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li:nth-child(3) a {
    color: #cd0000 !important;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li:hover a {
    color: #bd1622;
    text-decoration: underline;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li.single_categ:hover a {
    text-decoration: none;
    color: #003366;
}
.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {

    padding: 0px;
    line-height: 85px;
    background: transparent;
    font-size: 28px;
    font-family: BEBAS;
    /*font-family: plumb;*/
    font-style: italic;
    color: #003366 !important;
    font-weight: 500;
    position: relative;
    display: inline-block;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}


/*---------------------------Main Slider start-------------------- */

.menu_inner_area{
        line-height: 15px;
}

.main_slider_inner {
    overflow: hidden;
}
.bs-slider.slide{
     overflow: hidden;
     height: 76.5vh;
     position: relative;
     background: #b6d7de;
     z-index: 0;
}
.bs-slider:hover {
     cursor: -moz-grab;
     cursor: -webkit-grab;
}
.bs-slider:active {
     cursor: -moz-grabbing;
     cursor: -webkit-grabbing;
}

.bs-slider > .carousel-inner > .item img {
     margin: auto;
     width: 100% !important;
     height: 100vh;
     object-fit: cover;
     object-position: center;
}
.display_767 {
    display: none;
}
/*.carousel-fade .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}*/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h2 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.carousel-fade .slide-text {
    left: 0;
    top: 50%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
}
.carousel-fade .slide_left {
    text-align: left;
}
.carousel-fade .slide_center {
    text-align: center;
}
.carousel-fade .slide_right {
    text-align: right;
}
.carousel-fade .container {
    width: 100% !important;
    padding-left: unset;
    padding-right: unset;
    max-width: 1400px !important;
}
.carousel-fade .row {
    left: 0;
    /*top: 50%;*/
    right: 0;
    margin: auto;
    padding: 10px;
    /*text-align: left;*/
    padding: 10px 85px;
}
.carousel-fade .carousel-content h2 {
    padding: 0;
    color: #ffffff;
    font-size: 48px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    font-family: plume;
    text-transform: capitalize;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.carousel-fade .carousel-content h4 {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-family: plume;
    text-transform: capitalize;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
/******************** *****Slide effect **********************/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/*.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}*/
/*.main_slider_inner .fade {
     opacity: 1;
}
.main_slider_inner .fade .item {
     top: 0;
     z-index: 1;
     opacity: 0;
     width: 100%;
     position: absolute;
     left: 0 !important;
     display: block !important;
     -webkit-transition: opacity ease-in-out 1s;
     -moz-transition: opacity ease-in-out 1s;
     -ms-transition: opacity ease-in-out 1s;
     -o-transition: opacity ease-in-out 1s;
     transition: opacity ease-in-out 1s;
}
.main_slider_inner .fade .item:first-child {
     top: auto;
     position: relative;
}
.main_slider_inner .fade .item.active {
     opacity: 1;
     z-index: 2;
     -webkit-transition: opacity ease-in-out 1s;
     -moz-transition: opacity ease-in-out 1s;
     -ms-transition: opacity ease-in-out 1s;
     -o-transition: opacity ease-in-out 1s;
     transition: opacity ease-in-out 1s;
}*/
/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
/*.main_slider_inner .control-round .carousel-control {
     top: 47%;
     opacity: 0;
     width: 45px;
     height: 45px;
     z-index: 100;
     color: #ffffff;
     display: block;
     font-size: 24px;
     cursor: pointer;
     overflow: hidden;
     line-height: 43px;
     text-shadow: none;
     position: absolute;
     font-weight: normal;
     background: transparent;
     -webkit-border-radius: 100px;
     border-radius: 100px;
}
.main_slider_inner .control-round:hover .carousel-control{
     opacity: 1;
}
.main_slider_inner .control-round .carousel-control.left {
     left: 1%;
}
.main_slider_inner .control-round .carousel-control.right {
     right: 1%;
}
.main_slider_inner .control-round .carousel-control.left:hover, .control-round .carousel-control.right:hover{
     color: #fdfdfd;
     background: rgba(0, 0, 0, 0.5);
     border: 0px transparent;
}
.main_slider_inner .control-round .carousel-control.left>span:nth-child(1){
     left: 45%;
}
.main_slider_inner .control-round .carousel-control.right>span:nth-child(1){
     right: 45%;
}*/
/*---------- INDICATORS CONTROL ----------*/
.carousel .carousel-control.left * {
    width: 20%;
}
.carousel .carousel-control.right * {
    width: 20%;
    left: 25%;
}
.indicators-line > .carousel-indicators{
     right: 48%;
     bottom: 3%;
     left: auto;
     width: 90%;
     height: 20px;
     font-size: 0;
     overflow-x: auto;
     text-align: right;
     overflow-y: hidden;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 1px;
     white-space: nowrap;
     display: none;
}
.indicators-line > .carousel-indicators li{
     padding: 0;
     width: 15px;
     height: 15px;
     text-indent: 0;
     overflow: hidden;
     text-align: left;
     position: relative;
     letter-spacing: 1px;
     background: #022c3a;
     margin-right: 5px;
     -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
     transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
     z-index: 10;
     cursor:pointer;
     border: 0px;
}
.indicators-line > .carousel-indicators li:last-child{
     margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
     margin: 1px 5px 1px 1px;
     background-color: #ce1719;
     position: relative;
     -webkit-transition: box-shadow 0.3s ease;
     -moz-transition: box-shadow 0.3s ease;
     -o-transition: box-shadow 0.3s ease;
     transition: box-shadow 0.3s ease;
     -webkit-transition: background-color 0.3s ease;
     -moz-transition: background-color 0.3s ease;
     -o-transition: background-color 0.3s ease;
     transition: background-color 0.3s ease;
}

.carousel .carousel-control.left {
    right: -10px;
    background-image: none;
    top: 50%;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: none;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 0px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    left: 20px;
}
 .carousel .carousel-control.right {
    right: -10px;
    background-image: none;
    top: 50%;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: none;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 0px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    right: 20px;
}
/*.main_slider_inner .indicators-line > .carousel-indicators .active:before{
     transform: scale(0.5);
     background-color: #fff;
     content:"";
     position: absolute;
     left:-1px;
     top:-1px;
     width:15px;
     height: 15px;
     border-radius: 50%;
     -webkit-transition: background-color 0.3s ease;
     -moz-transition: background-color 0.3s ease;
     -o-transition: background-color 0.3s ease;
     transition: background-color 0.3s ease;
}}*/

/*---------------------------Main Slider end-------------------- */

/*---------------------------our store start-------------------- */
.our_store_wrapper {
    padding-top: 15px;
}
.page-header{
    text-transform: capitalize !important;
}
.page-header a{
    color: #003366 !important;
}
/*
.our_store_inner {
    padding-top: 15px;
} */
.s_text_block .text-center,.s_title,.s_title .text-center{
    font-family: plume !important;
    color: #003366 !important;
    font-style: italic !important;
    text-transform: capitalize !important;
}
.s_text_block > div > div.row{
    font-family: adobe caslon,serif !important;
}
.section_content{
    font-family: adobe caslon,serif !important;
}
.section_title hr {
    border-bottom: solid 1px rgba(0,0,0,.15);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 960px;
}
.section_title p {
    color: #003366;
    font-size: 3.2rem !important;
    text-align: center;
    font-weight: bolder;
    margin: -32px 0 30px 0 !important;
    font-style: italic;
    font-family: plume !important;
    text-transform: capitalize;
}
.section_title p span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
}
.section_subtitle p {
    color: #003366;
    font-size: 2.9rem !important;
    text-align: left;
    font-weight: bolder;
    margin: 10px 0 30px 0 !important;
    font-style: italic;
    font-family: plume !important;
    text-transform: capitalize;
}
.section_subtitle p span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
}
.faq_question table {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-right: 0;
    border-bottom: 0;
    font-size: 13px;
    margin: 30px 0;
        width: 100%;
}
.faq_question table tr td.Table_Lentele {
    background-color: #333;
    color: #fff;
    font-family: adobe caslon,serif !important;
    text-transform: uppercase !important;
}
.faq_question table tr td {
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    padding: 5px 10px 3px 10px;
    font-family: adobe caslon,serif !important;
}
.product_inner .col-lg-4, .product_inner .col-md-4 {
    padding-right: 5px;
    padding-left: 5px;
}
.product_inner .product_img img {
    width: 100%;
}
.product_inner .product_img {
    position: relative;
}
.product_inner ul.cart_icon {
    list-style: none;
    display: block;
    position: absolute;
    bottom: 15px;
    padding-left: 0;
    right: 40px;
}
.product_inner ul.cart_icon li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.product_inner ul.cart_icon li a {
    color: #fff;
}
.product_details {
    margin: 15px 0 25px 0;
    height: 185px;
}
.product_details h5.product_title {
    color: #003366;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 0 0 10px 0;
    font-style: italic;
    font-family: plume;
    text-transform: capitalize;
}
.product_details .address {
    margin-bottom: 8px;
}
.product_details .address p {
    text-transform: capitalize;
    color: #000;
    text-align: center;
    font-family: adobe caslon,serif;
    margin-bottom: 0px;
    font-size: 1.6rem;
    line-height:18px;
}
.product_details .open_hours p {
    text-transform: capitalize;
    color: #000;
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.6rem;
    font-family: adobe caslon,serif;
    line-height:18px;
}
.f_bold {font-weight: bold;}
/*---------------------------our store end-------------------- */

/*---------------------------connect us start-------------------- */
.connect_us_wrapper {
    margin: 0 0 0em 0;
}
.connect_us_wrapper ul.connect_us_inner {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
ul.connect_us_inner li {
    display: inline-block;
    margin: 0 30px;
}
.gallery {
    margin: 20px 0;
}
.gallery .gallery_inner {
    padding-left: 5px;
    padding-right: 5px;
}
.gallery img {
    width: 100%;
}
.gallery_top_image {
    margin-bottom: 10px;
}
.gallery_bottom_image {
    margin-bottom: 10px;
}
.gallery_center_image img {
    margin-bottom: 10px;
}
/*---------------------------connect us end-------------------- */

/*---------------------------footer start-------------------- */
.footer{
    background: transparent;
}
.footer ul.footer_inner {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}
.footer ul.footer_inner li {
    font-weight: 400;
    color: #000;
    font-size: 1.6rem;
    font-family: adobe caslon,serif;
}
.footer ul.footer_inner li a {
    color: #000;
    font-weight: 400;
    font-size: 1.4rem;
    font-family: adobe caslon,serif;
}
.footer ul.footer_inner li a:hover {
    text-decoration: none;
}
.footer_logo {
    text-align: center;
    margin: 20px 0;
}
/*---------------------------footer end-------------------- */

/*---------------------------scroll down start-------------------- */
.scrolldown {
    /*right:10px; */
    width: 95%;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
}
.scroll {
/*    position:absolute;*/
    left:20px;
    bottom:20px;
    padding: 5px 12px;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll:hover {
/*    background:rgba(4, 43, 58, 0.76);*/
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll:hover .fa {
    padding-top:-10px;
}
.scroll .fa {
    font-size:30px;
    color: #fff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll .fa:after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #ffffff;
    width: 46%;
    margin-left: 15px;
    top: 67%;
    left: -3px;
}
/*---------------------------scroll down end-------------------- */

/********************************/
/*/          Hero Headers        /*/
/********************************/
.fade-carousel .ov_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.fade-carousel .ov_caption h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .ov_caption {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .ov_caption {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.categ_image{
    width: 100%;
    height: auto;
}
.categ_no_image{
    width: 25% !important;
}
.cart_icon .cart_total {
    font-size: 12px;
    color: #333;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #FFF;
    padding-left: 4px;
    padding-right: 4px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.blockPage {
    background-color: transparent !important;
    border: transparent  !important;
}

/*#wrapwrap{
    display: list-item;
}*/
.o_livechat_button{
    display: none;
}

.search_formds {
    /*margin-top: 9em;*/
    margin-bottom: 0px;
    width: 100%;
    z-index: 100;
    right: -50px;
    /*padding: 0 !important;*/
    border: 0px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.search_formds input {
    border: none;
    font-size: 2.4rem;
    line-height: 3.4rem;
    width: 100%;
    font-family: plume;
}
.search_formds input:focus, textarea:focus, select:focus {
    outline: none;
}
.search_formds button {
    background: transparent;
    border: 0px;
}
.t-center{
    text-align: center;
}
.oe_search{
    width: 100%;
}
.has-feedback {
    border-bottom: 1px #000;
    display: flex;
    padding-bottom: calc(1.5rem / 2);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}
.fa-shopping-basket{
    font-size: initial;
}

.size_inner > .disabled > a {
    border-color: #a5a5a5 !important;
    font-size:19px !important;
}
.size_inner>li>a, .size_inner>li>span {
    font-size:19px;
}

.custom-account{
    font-family: plume;
}
.account_body{
    font-family: plume;
    font-style: italic;
}
.o_my_details div{
    font-family: adobe caslon,serif !important;
}

#search-custom{
    position: inherit;
    width: 35%;
    margin: auto;
}